*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
header{
   
}
header nav{
    width: 500px;
    display: flex;
    margin: auto;
}
header ul.menu{
    background-color: #b1e007;
    display: flex;
    justify-content: center;
}
header ul.menu > .item{
    padding: 5px 15px;
    border-right: 1px solid #000 ;
}
/* #item{
    border: none;
} */
header ul .item:last-child{
    border: none;
}
header ul li.item:hover > a{
    color: #fff;
}
#sub-menu{
    position: relative;
}
.sub-menu{
    display: none;
    position: absolute;
    background-color: #e71a1a;
    top: 100%;
    left: 0;
    width: 120px;
}
header ul li.item:hover .sub-menu{
    display: block;
}
.item{
    position: relative;
}
.menu-th{
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    background: green;
    width: 100%;
}
.menu-mega .item:hover .menu-th{
    display: block;
}
header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(50px);
}
body{
    position: relative;
}