<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <sessionState timeout="30"/>
    <!-- 1GB in KB, default is 4096 or 4MB -->
    <httpRuntime targetFramework="4.6" maxRequestLength="1048576"/>
    <customErrors defaultRedirect="NotFound.aspx" mode="On">
      <error statusCode="404" redirect="NotFound.aspx"/>
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 1GB in bytes, default is 30000000 or approx. 28.6102 Mb -->
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <!--<add name="Con" providerName="System.Data.SqlClient" connectionString="Data Source = XOMACHI\SQLSERVER2014; database = EMM; uid = sa; pwd = sqlserver2014"/>
    <add name="EMMEntities" connectionString="metadata=res://*/EMMS.csdl|res://*/EMMS.ssdl|res://*/EMMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XOMACHI\SQLSERVER2014;initial catalog=EMM;user id=sa;password=sqlserver2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="Con" providerName="System.Data.SqlClient" connectionString="YHsj9UTSPYFxfvSZiS/m5ilfij92GlYyAEztz8KdAgIgpK0qFvHsPJhDjj/H6g7PVuojd4mzUv6TFtKuGidpCySBrYGfVSrNYroXeTZ8KZFUqmWfzmaJQA==" />
    <add name="EMMEntities" connectionString="iAUZgAiRcfNNB7XZepmIVWHzbkvnGdMYsArLBVfvWYdR5QAFKWo28KF9IkAEa/QOD53y69RF8bsbtM1wc1fk8DRLXPMGO7u8S5cCIFr0y1J1h0ewCEJp7IX6/sZev5mmEcOMnqK8a7iPbhwUf/KkMtaGckhC4toj4h3729UKhHMMwSDzS3pqCnf5S+tABKPNKy1tuOkSIZVELdvLbJJ8a/8X1JqkFJ8BsohD39OejyoZLl3CguNe8u5KHMVu7d4VloyS61m0I3+nl2Ku6QSOLjTaqehd017+TKaFtp6VF5Fxkfrrz08AckBgfpp9/XWP/bnIUyCt1dds4A2HMLAwq8Y1AoyzasNR" providerName="System.Data.EntityClient" />-->
    <!--<add name="Con" providerName="System.Data.SqlClient" connectionString="Data Source = 10.130.50.33; database = EMM; uid = sa; pwd = 123@123a"/>
    <add name="EMMEntities" connectionString="metadata=res://*/EMMS.csdl|res://*/EMMS.ssdl|res://*/EMMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.130.50.33;initial catalog=EMM;user id=sa;password=123@123a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Con" providerName="System.Data.SqlClient" connectionString="YHsj9UTSPYELa8jPZRtbPHN4diatcYmZjmvumUpQ6xFb08UzTbVXn8LqhMNNnozZ18i1FdhhInSQk7o8v8LzE43fidaYrGJO" />
    <add name="EMMEntities" connectionString="iAUZgAiRcfNNB7XZepmIVWHzbkvnGdMYsArLBVfvWYdR5QAFKWo28KF9IkAEa/QOD53y69RF8bsbtM1wc1fk8DRLXPMGO7u8S5cCIFr0y1J1h0ewCEJp7IX6/sZev5mmEcOMnqK8a7iPbhwUf/KkMtaGckhC4toj4h3729UKhHMcQzyOQvOFMeNIlOrRSww1oLFagii+DG6KVQzVVwCdBDQB3bcb0tuM/FmNLntxXEBuIvkAe83B1tzIdX28qzH9vHjfrTw6KuFFMKNseOgYKrEQc8zg8aBAtGwfop/m6Eua/pEc69FShIug8ifyWCJTgqdChzDhVXg=" providerName="System.Data.EntityClient" />-->
    <!--<add name="Con" providerName="System.Data.SqlClient" connectionString="Data Source = QUOC-IT; database = EMM; uid = sa; pwd = 123@123a"/> -->
   <!-- <add name="EMMEntities" connectionString="metadata=res://*/EMMS.csdl|res://*/EMMS.ssdl|res://*/EMMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QUOC-IT;initial catalog=EMM;user id=sa;password=123@123a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>  -->
   <add name="Con" providerName="System.Data.SqlClient" connectionString="YHsj9UTSPYHYez9or/Gvd8lrjAefFwQaEWcB/hNcOZ5un4VTTNJMMzW4wAQ0E5L6gyhIgAtVL9+85UugiA2vuA==" />
   <add name="EMMEntities" connectionString="iAUZgAiRcfNNB7XZepmIVWHzbkvnGdMYsArLBVfvWYdR5QAFKWo28KF9IkAEa/QOD53y69RF8bsbtM1wc1fk8DRLXPMGO7u8S5cCIFr0y1J1h0ewCEJp7IX6/sZev5mmEcOMnqK8a7iPbhwUf/KkMtaGckhC4toj4h3729UKhHOAiVGCzlFdS2QwuFs29ZTepWGLujO29iAlNgs27NrX61J4IAACOtYmTDVBwfS0mQ3oKi7+WWSanT25aopXc+iAn6tt/t4S9qeTVKsC5uB2rF5jG7m3G46Sk/2APm9FWufNXBxBz19oVfu4Ep0e11QMiyJZgPGNjZs=" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.1" newVersion="4.5.3.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>