<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Css/home.css">
</head>
<body>
    <!-- start header -->
    <header>
        <nav class="nav">
            <div class="d-flex">
                <div class="menu-left">
                    <ul class="option menu-1">
                        <li class="item">
                            <a href="#" class="link">Trang chủ</a>
                        </li>
                        <li class="item">
                            <a href="#" class="link">Đồng hồ nam</a>
                        </li>
                        <li class="item">
                            <a href="#" class="link">ĐỒng hồ nữ</a>
                            <ul class="menu-2">
                                <li class="item">
                                    <a href="#" class="link">Đồng hồ nam 2</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">Đồng hồ nam 2</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">Đồng hồ nam 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu-center">
                    <div class="logo">
                        <img src="https://curnonwatch.com/_next/static/media/logo.cc5d661a.svg" alt="logo">
                    </div>
                </div>
                <div class="menu-right">
                    <div>
                        <ul class="option">
                            <li class="item">
                                <a href="#" class="link">Giỏ hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- end header -->

    <!-- start content -->
    <section class="content-page content-home">
        <!-- start banner -->
        <div class="banner-home">
            <div class="image-banner">
                <img class="w-100" src="../Images/banner.png" alt="banner">
            </div>
        </div>
        <!-- end banner -->

        <!-- start category -->

        <div  class="home-category">
            <div class="list-cate d-flex">
                <div class="cate-content">
                    <div class="image-cate">
                        <img src="../Images/image-cate.jpg" class="w-100" alt="cate">
                    </div>
                    <div class="cate-title d-flex">
                        <div class="title">
                            <h4>Đồng hồ nam</h4>
                        </div>
                        <div class="cate-detail">
                            ==>
                        </div>
                    </div>
                </div>

                <div class="cate-content">
                    <div class="image-cate">
                        <img src="../Images/image-cate.jpg" class="w-100" alt="cate">
                    </div>
                    <div class="cate-title d-flex">
                        <div class="title">
                            <h4>Đồng hồ nữ</h4>
                        </div>
                        <div class="cate-detail">
                            ==>
                        </div>
                    </div>
                </div>

                <div class="cate-content">
                    <div class="image-cate">
                        <img src="../Images/image-cate.jpg" class="w-100" alt="cate">
                    </div>
                    <div class="cate-title d-flex">
                        <div class="title">
                            <h4>Đồng hồ nam</h4>
                        </div>
                        <div class="cate-detail">
                            ==>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end category -->


        <!-- product -->

        <div class="product-home">
            <div class="row">
                <div class="product position-rel">
                    <div class="top-product position-rel">
                        <div class="product-image">
                            <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fb%2Ft%2Fbt.gallant.png&w=640&q=75" alt="product" class="w-100">
                        </div>
                        <div class="product-sale">
                            <span>-20%</span>
                        </div>
                    </div>

                    <div class="center-product">
                        <div class="product-name">
                            <h4>tên đồng hồ</h4>
                        </div>
                        <div class="product-price">
                            <span>800.000 vnđ</span>
                            <span>1.000.000 vnđ</span>
                        </div>
                    </div>
                    
                    <div class="bottom-product">
                        <button class="btn-add">
                            thêm vào giỏ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end content -->

</body>
</html>