

GO
/*
	+ Tính ngày bảo dưỡng tiếp theo
	+ Số ngày tới hạn bão dưỡng tiếp theo
	+ Tần suất được tính từ định mức thực tế theo Từ ngày -- đến ngày
*/
ALTER PROCEDURE [dbo].[sp_CanhBaoBaoDuongTheoGioTungXe_ThucTe]
	@ID int,
	@tanSuatHoatDong float,
	@ngayBaoDuongTiepTheo smalldatetime out,
	@soNgayConLaiChoLanBaoDuongTiepTheo int out,
	@soGioMocBaoDuongTiepTheo float out
AS
BEGIN
	SET NOCOUNT ON
	
	-- Ngày hiện tại
	Declare @ngayHienTai smalldatetime
	Set @ngayHienTai = getdate() 

	-- Ngày bảo dưỡng gần nhất
	Declare @ngayBatDauTinhBaoDuong smalldatetime
	
	-- Số giờ bảo dưỡng định kỳ
	Declare @soGioBaoDuongDinhKy float
	Declare @soGioBatDauTinhBaoDuong float
		
	Select  Top 1 @soGioBaoDuongDinhKy = c.SoLuongBaoDuongDinhKy, @ngayBatDauTinhBaoDuong = a.NgayBaoDuongGanNhat, 
			@soGioBatDauTinhBaoDuong = a.SoGioBaoDuongGanNhat
	from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
							left join tblLoaiBaoDuong c on b.IDLoaiBaoDuong = c.IDLoaiBaoDuong
	where a.ID = @ID

	If (@soGioBaoDuongDinhKy is not null and @ngayBatDauTinhBaoDuong is not null and @tanSuatHoatDong > 0)
	Begin
		--Tính số giờ bảo dưỡng tiếp theo
		Declare @soGioBaoDuongTiepTheo float
		Set @soGioBaoDuongTiepTheo = 0
		Declare @i int
		Set @i = 1
		While @soGioBaoDuongTiepTheo <= @soGioBatDauTinhBaoDuong
		Begin
			Set @soGioBaoDuongTiepTheo = @soGioBaoDuongDinhKy * @i
			Set @i = @i + 1
		End
		
		Set @soGioMocBaoDuongTiepTheo = @soGioBaoDuongTiepTheo
		Set @ngayBaoDuongTiepTheo = @ngayBatDauTinhBaoDuong
		
		While @soGioBatDauTinhBaoDuong <  @soGioBaoDuongTiepTheo
		Begin
			Set @soGioBatDauTinhBaoDuong = @soGioBatDauTinhBaoDuong + @tanSuatHoatDong
			Set @ngayBaoDuongTiepTheo = DATEADD(dd, 1, @ngayBaoDuongTiepTheo) 
		End
		
		Set @soNgayConLaiChoLanBaoDuongTiepTheo = DATEDIFF(dd, @ngayHienTai, DATEADD(dd, -1, @ngayBaoDuongTiepTheo)) 
	End
END

