

GO
CREATE TRIGGER [dbo].[tg_tblNapNhienLieu_AfterDelete] ON [dbo].[tblNapNhienLieu] AFTER DELETE 
AS
BEGIN
	Declare @IDTrangThietBi int, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = del.IDTrangThietBi FROM DELETED del;
	SELECT @Ngay = del.NgayNap FROM DELETED del;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    Delete tblDinhMucTheoNgay where IDTrangThietBi = @IDTrangThietBi And (Ngay = @Ngay or Ngay = @NgayTruoc)
END

