

GO
ALTER TRIGGER [dbo].[tg_tblNapNhienLieu_AfterUpdate] ON [dbo].[tblNapNhienLieu] AFTER UPDATE 
AS
BEGIN
	DECLARE @IDTrangThietBi INT, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = ins.IDTrangThietBi FROM INSERTED ins;
	SELECT @Ngay = ins.NgayNap FROM INSERTED ins;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    exec sp_TinhDinhMucTheoNgay @NgayTruoc, @IDTrangThietBi

	exec sp_TinhDinhMucTheoNgay @Ngay, @IDTrangThietBi
END

