<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Css/home.css">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="d-flex">
                <div class="menu-left">
                    <ul class="option menu-1">
                        <li class="item">
                            <a href="#" class="link">Trang chủ</a>
                        </li>
                        <li class="item">
                            <a href="#" class="link">Đồng hồ nam</a>
                        </li>
                        <li class="item">
                            <a href="#" class="link">ĐỒng hồ nữ</a>
                            <ul class="menu-2">
                                <li class="item">
                                    <a href="#" class="link">Đồng hồ nam 2</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">Đồng hồ nam 2</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="link">Đồng hồ nam 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu-center">
                    <div class="logo">
                        <img src="https://curnonwatch.com/_next/static/media/logo.cc5d661a.svg" alt="logo">
                    </div>
                </div>
                <div class="menu-right">
                    <div>
                        <ul class="option">
                            <li class="item">
                                <a href="#" class="link">Giỏ hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    
</body>
</html>