<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../Css/menu.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="item">
                    <a href="google.com">Trang chủ</a>
                </li>
                <li class="item" id="sub-menu">
                    <a href="#">Sản phẩm</a>
                    <div class="sub-menu">
                        <ul class="menu-mega">
                            <li class="item" >
                                <a href="#">HTML</a>
                            </li>
                            <li class="item">
                                <a href="#">CSS</a>
                                <div class="menu-th">
                                    <ul class="menu-mega">
                                        <li class="item" >
                                            <a href="#">HTML 2</a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">CSS 2</a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">JS 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="item" >
                                <a href="#">JS</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a href="#">Dịch vụ</a>
                </li>
                <li class="item">
                    <a href="/">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="banner">
            <img style="width:100%" src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-tuyen-thuc-tap-sinh-chuyen-de-it.png" alt="banner">
        </div>
        <div class="banner">
            <img style="width:100%" src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-tuyen-thuc-tap-sinh-chuyen-de-it.png" alt="banner">
        </div>
        <div class="banner">
            <img style="width:100%" src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-tuyen-thuc-tap-sinh-chuyen-de-it.png" alt="banner">
        </div>
        <div class="banner">
            <img style="width:100%" src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-tuyen-thuc-tap-sinh-chuyen-de-it.png" alt="banner">
        </div>
        <div class="banner">
            <img style="width:100%" src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-tuyen-thuc-tap-sinh-chuyen-de-it.png" alt="banner">
        </div>
        <div class="banner">
            <img style="width:100%" src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-tuyen-thuc-tap-sinh-chuyen-de-it.png" alt="banner">
        </div>
    </section>
</body>
</html>