/* *{
    color: green;
} */
button, a{
    color: aqua;
}
form > div{
    color: blue;
}

.input-email, .input-pass{
    padding: 5px 20px;
    margin-top: 2px;
}
form{
    background-color: rgb(215, 208, 208);
    padding: 30px 40px;
    width: 220px;
}
div img{
    border-radius: 50%;
    margin-left: 13px;
}
#btn{
    padding: 6px 72px;
    background-color: rgb(10, 70, 235);
    margin-top: 10px;
}
.link a{
    font-size: 11px;
    color: rgb(51, 14, 238);
    text-decoration: none;
}


/* độ ưu tiên trong css */
#demo{
    color: red;
}
.demo{
    color: green;
}
[data-attr="demo"]{
    color: yellow;
}
body .demo a{
    color: blue;
}
/* 
a{
    color: brown;
}
.link a{
    color: red;
} */