<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="../Webapp/dist/styles.css" rel="stylesheet">
<body>
    <aside id="sidebar" class="onoffcanvas is-fixed is-left is-hoverable">
        <h2 class="side-header">
          <a class="logo" href="#">
            <img src="img/logo.png">
            <span>Admin</span>
          </a>
          <button class="toggler">
            <i class="material-icons">format_align_center</i>
          </button>
        </h2>
        <div class="side-divider"></div>
        <div class="side-content">
          <nav class="side-user">
            <ul id="usermenu" class="metismenu">
              <li>
                <a href="#" class="has-arrow" aria-expanded="false">
                  <span class="has-icon">
                    <i class="material-icons">account_circle</i>
                  </span>
                  <span class="nav-title">Trần Ngọc Sơn</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                  <li>
                    <a href="profile.html">
                      <span class="has-icon">
                        <i class="text-icons">Pr</i>
                      </span>
                      <span class="nav-title">Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="password.html">
                      <span class="has-icon">
                        <i class="text-icons">Pa</i>
                      </span>
                      <span class="nav-title">Password</span>
                    </a>
                  </li>
                  <li>
                    <a href="logout.html">
                      <span class="has-icon">
                        <i class="text-icons">Lo</i>
                      </span>
                      <span class="nav-title">Logout</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <div class="side-divider"></div>
          <nav class="side-nav">
            <ul id="metismenu" class="metismenu">
              <li>
                <a href="index.html">
                  <span class="has-icon">
                    <i class="material-icons">dashboard</i>
                  </span>
                  <span class="nav-title">Dashboard</span>
                </a>
              </li>
              <li class="active">
                <a href="#" class="has-arrow" aria-expanded="true">
                  <span class="has-icon">
                    <i class="material-icons">card_giftcard</i>
                  </span>
                  <span class="nav-title">Modules</span>
                </a>
                <ul aria-expanded="true" class="collapse in">
                  <li>
                    <a href="table.html">
                      <span class="has-icon">
                        <i class="text-icons">Ta</i>
                      </span>
                      <span class="nav-title">Table (List)</span>
                    </a>
                  </li>
                  <li>
                    <a href="view.html">
                      <span class="has-icon">
                        <i class="text-icons">Vi</i>
                      </span>
                      <span class="nav-title">View (Detail)</span>
                    </a>
                  </li>
                  <li class="active">
                    <a href="form.html">
                      <span class="has-icon">
                        <i class="text-icons">Fo</i>
                      </span>
                      <span class="nav-title">Form Add/Edit</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-arrow" aria-expanded="false">
                  <span class="has-icon">
                    <i class="fab fa-pagelines"></i>
                  </span>
                  <span class="nav-title">Pages</span>
                </a>
                <ul aria-expanded="false" class="collapse">
                  <li>
                    <a href="login.html">
                      <span class="has-icon">
                        <i class="text-icons">Lo</i>
                      </span>
                      <span class="nav-title">Login</span>
                    </a>
                  </li>
                  <li>
                    <a href="lock.html">
                      <span class="has-icon">
                        <i class="text-icons">LS</i>
                      </span>
                      <span class="nav-title">Lock Sreen</span>
                    </a>
                  </li>
                  <li>
                    <a href="thank.html">
                      <span class="has-icon">
                        <i class="text-icons">TY</i>
                      </span>
                      <span class="nav-title">Thank you!</span>
                    </a>
                  </li>
                  <li>
                    <a href="error.html">
                      <span class="has-icon">
                        <i class="text-icons">EP</i>
                      </span>
                      <span class="nav-title">Error Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="ticket.html">
                      <span class="has-icon">
                        <i class="text-icons">Ti</i>
                      </span>
                      <span class="nav-title">Ticket</span>
                    </a>
                  </li>
                  <li>
                    <a href="request.html">
                      <span class="has-icon">
                        <i class="text-icons">Rq</i>
                      </span>
                      <span class="nav-title">Request</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
</body>
</html>