<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Thank you | ZeroAdmin</title>
  <meta name="description" content="{$description}">
  <meta name="keywords" content="{$keywords}">
  <meta name="author" content="Trần Ngọc Sơn">
  <meta name="copyright" content="QsvProgram">
  <meta name="robots" content="noindex">

  <!-- Styles -->
  <link href="dist/styles.css" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{$shortcut}">
  <link rel="shortcut icon" href="{$shortcut}">
</head>
<body>
  <main class="fullscreen">
    <div class="thank">
      <div class="love"><i class="fas fa-heart"></i></div>
      <h2>Thank you!</h2>
    </div>
  </main>

  <!-- jQuery --> 
  <script src="//code.jquery.com/jquery-3.3.1.js"></script> 
  <script>window.jQuery || document.write('<script src="ext/jquery/jquery.min.js"><\/script>')</script> 

  <!-- Scripts -->
  <script src="dist/bundle.js"></script>
</body>
</html>