<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascripts</title>

</head>
<body>
    <h1 onclick="alert('Chào mừng bạn đến với Devmaster -  Khóa học JS cơ bản')">Chào mừng bạn đến với JS</h1>
    <pre>
        * luyện tập xây dựng quy trình (các bước làm)
        I, định nghĩa
            - Ngôn ngữ lập trình kịch bản
            - hỗ trợ rộng rãi 
        II, Mục đích
            - cung cấp khả năng tương tác với website
        
        III, Quy tắc:
            - Phân biệt chữ hoa và chữ thường
            - Luôn có cặp ký hiệu đóng và mở

        IV, Cách sử dụng
            3 cách



    </pre>

    <!-- <script>
        alert('Chào mừng bạn đến với Devmaster -  sử dụng JS cơ bản');
    </script> -->
    <script language="javascript" src="../Js/staging.js"></script>
</body>
</html>