<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../Css/form.css">
</head>
<body>
    <pre>
        Cách sử dụng CSS: 
        - cách tạo file css: <file-name>.css
        - cách sử dụng css: 3 cách
            +, dùng trực tiếp trên element thông qua thuộc tính style="";
            +, dùng trực tiếp trên trang html thông qua thẻ style 
            +, nhúng flie css
        - Selecter (bộ chọn css);
        - Độ ưu tiên trong css: Id > attr > class > element
                                selecter (càng rõ càng ưu tiên)
                                !important: bắt buộc sử dụng css

        </pre>
    <style>
       
    </style>
    <form>
        <div class="avatar">
            <div class="image">
                <img src="https://devmaster.edu.vn/images/logo.png" alt="devmaster">
            </div>
        </div>
        <div class="content">
            <div class="input">
                <div class="email">
                    <input type="email" name="email" placeholder="Email" class="input-email">
                </div>
                <div class="pass">
                    <input type="password" name="password" placeholder="Mật khẩu" class="input-pass">
                </div>
            </div>
            <div class="action">
                <div class="btn">
                    <button id="btn" >Đăng nhập</button>
                </div>
                <div class="link">
                    <a href="https://devmaster.edu.vn/" title="devmaster">Bạn cần sự trợ giúp từ devmaster?</a>
                </div>
            </div>
        </div>
    </form>
    <div class="demo">
        <a href="#" class="demo" id="demo" data-attr="demo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, perferendis! A saepe dolorum at, incidunt vitae quo maiores dolorem sit, ullam, delectus ea porro? Pariatur nulla sint nostrum facere fugit?
        </a>
    </div>
</body>
</html>