<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiêu đề tab</title>
</head>
<body>
    <pre>
        *) Cấu trúc của 1 trang HTML 
        *) Các thẻ trong html: 
            - Các thẻ inline : span;  i; b
            - Các thẻ bố cục : section; div;...
            - Các thẻ thường dùng: (thuộc tính)
                +) img: src (đặt địa chỉ hình ảnh) ; alt(ghi chú cho ảnh)
                +) a : href(đường dẫn chuyển trang khi click) ;title(ghi chú cho link)
                +) button - form - input - textarea - select(option):
                    - input: type (text, number, email, phone, file, date,...)
                             name (radio , checkbox): quy định vùng lựa chọn
                             value : giá trị của input
                +) table: cấu trúc(thead - tbody - tfooter | tr - th,td)
                +) các thẻ tiêu đề:  h1 -> h6
                +) div, section, header, footer, nav, ul-li  

    </pre>
    <div>
        <p>Lhil neque natus?</p>
    </div>
    <div>
        <input type="radio" name="gender2" value="1" checked> nam
        <input type="radio" name="gender3"  value="2"> nữ
        <input type="radio" name="gender4"  value="3"> khác
    </div>
    <div>
        <input type="checkbox" name="gender1"  value="1"> nam
        <input type="checkbox" name="gender1"  value="2"> nữ
        <input type="checkbox" name="gender1"  value="3"> khác
    </div>
    <textarea></textarea>
</body>
</html>