// Material Icons
$material-icons-font-path: "~material-icons/iconfont/";
@import "~material-icons/iconfont/material-icons";

.material-icons {
  font-size: 1.71429em;
  line-height: 0.58333em;
}


// FontAwesome 5
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";