
GO
ALTER PROCEDURE [dbo].[sp_CanhBaoNgayDangKiemKeTiepTungXe]
	@ID int,
	@ngayDangKiemTiepTheo smalldatetime out,
	@soNgayConLaiChoLanDangKiepTiepTheo int out
AS
BEGIN
	SET NOCOUNT ON
	
	Declare @ngayHienTai smalldatetime
	Set @ngayHienTai = getdate()

	Declare @ngayDangKiemLanDau smalldatetime, @soThangDangKiemDinhKy int
	Select @ngayDangKiemLanDau= NgayDangKiemLanDau, @soThangDangKiemDinhKy = SoThangDangKiemDinhKy from tblTrangThietBi where ID = @ID
	
	If @ngayDangKiemLanDau is not null and @soThangDangKiemDinhKy is not null and @soThangDangKiemDinhKy > 0
	Begin
		Set @ngayDangKiemTiepTheo = DATEADD(MM, @soThangDangKiemDinhKy, @ngayDangKiemLanDau) 

		Set @soNgayConLaiChoLanDangKiepTiepTheo = DATEDIFF(DD, @ngayHienTai, @ngayDangKiemTiepTheo) 

		/*
		Declare @i int 
		Set @i = 0
		While @soNgayConLaiChoLanDangKiepTiepTheo < 0 
		Begin
			Set @ngayDangKiemTiepTheo = DATEADD(MM, @soThangDangKiemDinhKy * @i, @ngayDangKiemLanDau) 
			Set @soNgayConLaiChoLanDangKiepTiepTheo = DATEDIFF(DD, @ngayHienTai, @ngayDangKiemTiepTheo) 
			Set @i = @i + 1
		End
		*/
	End
END

