
/*
	+ Tính ngày bảo dưỡng tiếp theo
	+ Số ngày tới hạn bão dưỡng tiếp theo
	+ Tần suất được tính từ định mức thực tế theo N ngày nhập gần nhất
*/
ALTER PROCEDURE [dbo].[sp_TinhHanBaoDuongTheoGioTungXe]
	@ID int,
	@tanSuatHoatDong float,
	@ngayNhapGanNhat smalldatetime,
	@soGioNhapGanNhat float,
	@ngayBaoDuongTiepTheo smalldatetime out,
	@soNgayConLaiChoLanBaoDuongTiepTheo int out,
	@soGioMocBaoDuongTiepTheo float out
AS
BEGIN
	SET NOCOUNT ON
	
	-- Lấy số giờ bảo dưỡng định kỳ: 250, 500...
	Declare @soGioBaoDuongDinhKy float
	Select  Top 1 @soGioBaoDuongDinhKy = c.SoLuongBaoDuongDinhKy
	from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
							left join tblLoaiBaoDuong c on b.IDLoaiBaoDuong = c.IDLoaiBaoDuong
	where a.ID = @ID

	-- Tính số giờ còn lại tới mốc bão dưỡng tiếp theo
	Declare @soGioBaoDuongTiepTheo float
	Set @soGioBaoDuongTiepTheo = cast(round(@soGioNhapGanNhat, 0) as int) % cast(round(@soGioBaoDuongDinhKy, 0) as int) 
	Set @soGioBaoDuongTiepTheo = @soGioBaoDuongDinhKy - @soGioBaoDuongTiepTheo

	-- Tính số ngày còn lại tới mốc bão dưỡng tiếp theo
	If @tanSuatHoatDong > 0
		Set @soNgayConLaiChoLanBaoDuongTiepTheo = round((@soGioBaoDuongTiepTheo / @tanSuatHoatDong), 0)
	Else
		Set @soNgayConLaiChoLanBaoDuongTiepTheo = 0

	-- Tính số giờ mốc bão dưỡng tiếp
	If @soGioBaoDuongDinhKy > 0
		Set @soGioMocBaoDuongTiepTheo = ((cast(round(@soGioNhapGanNhat, 0) as int) / cast(round(@soGioBaoDuongDinhKy, 0) as int))  * @soGioBaoDuongDinhKy) + @soGioBaoDuongDinhKy
	Else
		Set @soGioMocBaoDuongTiepTheo = 0

	-- Tính ngày bảo dưỡng tiếp theo, kể từ ngày nhập số giờ gần nhất
	Set @ngayBaoDuongTiepTheo = DATEADD(dd, @soNgayConLaiChoLanBaoDuongTiepTheo, @ngayNhapGanNhat)
	
END

