
GO
CREATE PROCEDURE sp_BaoCaoDanhSachBaoDuong
   @NgayNhapTuNgay smalldatetime = null,
   @NgayNhapDenNgay smalldatetime = null,
   @NgayBaoDuongTuNgay smalldatetime = null,
   @NgayBaoDuongDenNgay smalldatetime = null,
   @IDCongTy int = null,
   @IDKieuBaoDuong int = null,
   @IDNhomTrangThietBi int = null,
   @IDLoaiTrangThietBi int = null,
   @BienSo nvarchar(50) = '',
   @TrangThai nvarchar(50) = ''
AS
BEGIN
	
	SET NOCOUNT ON
    
    
	SELECT ROW_NUMBER() OVER (ORDER BY a.MaThe ASC) AS RowNum,
			a.ID as IDTheBaoDuong, a.MaThe, a.NgayBaoDuong, a.NguoiBaoDuong, b.Ten as TenTrangThietBi, b.BienSo,
						c.Ten as LoaiTrangThietBi, e.Ten as KieuBaoDuong, f.TenNhom, a.TrangThaiKhaiThac, a.SoGioHoacKm, g.Ten as CapBaoDuong, b.ID as IDTrangThietBi
	FROM tblTheBaoDuong a left join tblTrangThietBi b on a.IDTrangThietBi = b.ID
							left join tblLoaiTrangThietBi c on b.IDLoaiTrangThietBi = c.ID
							left join tblLoaiBaoDuong d on c.IDLoaiBaoDuong = d.IDLoaiBaoDuong
							left join tblKieuBaoDuong e on d.IDKieuBaoDuong = e.ID
							left join tblNhomTrangThietBi f on c.IDNhomTrangThietBi = f.ID
							left join tblCapBaoDuong g on a.IDCapBaoDuong = g.ID
	WHERE (a.NgayNhap >= @NgayNhapTuNgay And a.NgayNhap <= @NgayNhapDenNgay) And
			(a.NgayBaoDuong >= @NgayBaoDuongTuNgay And a.NgayBaoDuong <= @NgayBaoDuongDenNgay) And
			(c.ID = @IDLoaiTrangThietBi or @IDLoaiTrangThietBi is null or @IDLoaiTrangThietBi = 0) And
			(e.ID = @IDKieuBaoDuong or @IDKieuBaoDuong is null) And
			(b.BienSo like N'%' + @BienSo + '%' or @BienSo = '') And
			(b.IDCongTy = @IDCongTy or @IDCongTy is null) And
			(f.ID = @IDNhomTrangThietBi or @IDNhomTrangThietBi is null or @IDNhomTrangThietBi = 0) And
			(a.TrangThaiKhaiThac = @TrangThai or @TrangThai is null or @TrangThai = '')
END

GO
/*
exec sp_BaoCaoDanhSachBaoDuong @IDCongTy=1,@BienSo=N'',
@NgayNhapTuNgay='2019-01-01 00:00:00',@NgayNhapDenNgay='2019-12-31 00:00:00',
@NgayBaoDuongTuNgay='2019-01-01 00:00:00',@NgayBaoDuongDenNgay='2019-12-31 00:00:00',@TrangThai=N''
*/

