

/*
	-- Tạo mã thẻ bảo dưỡng
*/
ALTER TRIGGER [dbo].[tgTheBaoDuong_Insert] ON [dbo].[tblTheBaoDuong]
AFTER INSERT AS
BEGIN
	Declare @Id int
	
	select @Id = a.ID
	from INSERTED a left join tblTrangThietBi b on a.IDTrangThietBi = b.ID

	Declare @MaintenanceRequestCode nvarchar(100)
	Set @MaintenanceRequestCode = LEFT(CONVERT(VARCHAR(10), GetDate(), 112), 4)

	Declare @StartOfYear smalldatetime, @EndOfYear smalldatetime
	Set @StartOfYear = DATEADD(yy, DATEDIFF(yy, 0, GETDATE()), 0)
	Set @EndOfYear = DATEADD(yy, DATEDIFF(yy, 0, GETDATE()) + 1, -1)

	-- Số thứ tự trong năm (4 ký tự)
	Declare @STT int, @strSTT varchar(4)
	Select @strSTT = Max(SUBSTRING(MaThe, 7, 4)) from tblTheBaoDuong where NgayNhap >= @StartOfYear And NgayNhap <= @EndOfYear
	If (@strSTT is null or @strSTT = '')
		Set @strSTT = '0001' 
	Else
		Begin
			Set @STT = Cast(@strSTT as int)
			Set @STT = @STT + 1 
			Set @strSTT = cast(@STT as varchar(4))
			while Len(@strSTT) < 4
				Set @strSTT = '0' + @strSTT
		End

	Set @MaintenanceRequestCode = Concat('M',@MaintenanceRequestCode, '-', @strSTT)

	Update tblTheBaoDuong Set MaThe = @MaintenanceRequestCode where Id = @Id
END

 

