
/*
	-- Tạo mã phiếu sửa chữa
*/
ALTER TRIGGER [dbo].[tgPhieuSuaChua_Insert] ON [dbo].[tblPhieuSuaChua]
AFTER INSERT AS
BEGIN
	Declare @Id int
	Select @Id = a.ID from INSERTED a 

	Declare @RepairRequestCode nvarchar(100)
	Set @RepairRequestCode = LEFT(CONVERT(VARCHAR(10), GetDate(), 112), 4)

	Declare @StartOfYear smalldatetime, @EndOfYear smalldatetime
	Set @StartOfYear = DATEADD(yy, DATEDIFF(yy, 0, GETDATE()), 0)
	Set @EndOfYear = DATEADD(yy, DATEDIFF(yy, 0, GETDATE()) + 1, -1)

	-- Số thứ tự trong năm (4 ký tự)
	Declare @STT int, @strSTT varchar(4)
	Select @strSTT = Max(SUBSTRING(MaPhieu, 7, 4)) from tblPhieuSuaChua where NgayNhap >= @StartOfYear And NgayNhap <= @EndOfYear
	If (@strSTT is null or @strSTT = '')
		Set @strSTT = '0001' 
	Else
		Begin
			Set @STT = Cast(@strSTT as int)
			Set @STT = @STT + 1 
			Set @strSTT = cast(@STT as varchar(4))
			while Len(@strSTT) < 4
				Set @strSTT = '0' + @strSTT
		End

	Set @RepairRequestCode = Concat('R',@RepairRequestCode, '-', @strSTT)

	Update tblPhieuSuaChua Set MaPhieu = @RepairRequestCode where Id = @Id
END

 

