

GO
ALTER PROCEDURE [dbo].[sp_BaoCaoLichSuSuaChua]
   @NgayNhapTuNgay smalldatetime = null,
   @NgayNhapDenNgay smalldatetime = null,
   @NgaySuaChuaTuNgay smalldatetime = null,
   @NgaySuaChuaDenNgay smalldatetime = null,
   @IDCongTy int = null,
   @IDKieuBaoDuong int = null,
   @IDNhomTrangThietBi int = null,
   @IDLoaiTrangThietBi int = null,
   @BienSo nvarchar(50) = ''
AS
BEGIN
	
	SET NOCOUNT ON
	
	SELECT ROW_NUMBER() OVER (ORDER BY a.MaPhieu ASC) AS STT,
			Count(1) over () AS TotalCount, a.ID as IDPhieuSuaChua, a.MaPhieu, a.NgaySuaChua, a.NguoiSuaChua, b.Ten as TenTrangThietBi, b.BienSo,
						c.Ten as LoaiTrangThietBi, e.Ten as KieuBaoDuong, f.TenNhom, b.ID as IDTrangThietBi
	FROM tblPhieuSuaChua a left join tblTrangThietBi b on a.IDTrangThietBi = b.ID
							left join tblLoaiTrangThietBi c on b.IDLoaiTrangThietBi = c.ID
							left join tblLoaiBaoDuong d on c.IDLoaiBaoDuong = d.IDLoaiBaoDuong
							left join tblKieuBaoDuong e on d.IDKieuBaoDuong = e.ID
							left join tblNhomTrangThietBi f on c.IDNhomTrangThietBi = f.ID
	WHERE (a.NgayNhap >= @NgayNhapTuNgay And a.NgayNhap <= @NgayNhapDenNgay) And
			(a.NgaySuaChua >= @NgaySuaChuaTuNgay And a.NgaySuaChua <= @NgaySuaChuaDenNgay) And
			(c.ID = @IDLoaiTrangThietBi or @IDLoaiTrangThietBi is null or @IDLoaiTrangThietBi = 0) And
			(e.ID = @IDKieuBaoDuong or @IDKieuBaoDuong is null) And
			(b.BienSo like N'%' + @BienSo + '%' or @BienSo = '') And
			(b.IDCongTy = @IDCongTy or @IDCongTy is null) And
			(f.ID = @IDNhomTrangThietBi or @IDNhomTrangThietBi is null or @IDNhomTrangThietBi = 0)
	
END

