

GO
ALTER PROCEDURE [dbo].[sp_GetMaintenanceDetail]
(
	@idMaintenance int
)
AS
BEGIN
	SET NOCOUNT ON
	
	-- Lấy danh sách hạng mục bảo dưỡng
	Select a.ID as IDChiTietBaoDuong, a.IDTheBaoDuong, a.IDHangMucBaoDuong as IDHangMuc, 
			b.Ten, b.SoThuTuHienThi, b.IDNhomHangMucBaoDuong, 
			c.Ten as TenNhomHangMuc, c.SoThuTuHienThi as STT_NhomHangMuc, c.IDParent,
			a.IsChecked, a.IsRequiresRepair
	into #tmpChiTietBaoDuong 
	from tblChiTietBaoDuong a left join tblHangMucBaoDuong b on a.IDHangMucBaoDuong = b.ID
							  left join tblNhomHangMucBaoDuong c on b.IDNhomHangMucBaoDuong = c.ID
	where IDTheBaoDuong = @idMaintenance
	Order by c.IDParent, c.SoThuTuHienThi, b.SoThuTuHienThi

	SELECT IDHangMuc into #tmpHangMucDaChon FROM #tmpChiTietBaoDuong

	CREATE TABLE #tmpCap1 ( ID int NULL )
	CREATE TABLE #tmpCap2 ( ID int NULL )
	CREATE TABLE #tmpCap3 ( ID int NULL	)

	-- Hạng mục đã chọn
	Select b.ID as IDHangMuc, c.ID as IDNhomChaCap3, d.ID as IDNhomChaCap2, e.ID as IDNhomChaCap1
	into #tmpHangMucNhomHangmuc
	from #tmpHangMucDaChon a left join tblHangMucBaoDuong b on a.IDHangMuc = b.ID
							 left join tblNhomHangMucBaoDuong c on b.IDNhomHangMucBaoDuong = c.ID
							 left join tblNhomHangMucBaoDuong d on c.IDParent = d.ID
							 left join tblNhomHangMucBaoDuong e on d.IDParent = e.ID

	Select IDHangMuc into #tmpHangMuc from #tmpHangMucNhomHangmuc

	-- Duyệt qua từng hạnh muc để tìm các nhóm hạng mục
	Declare @pr_IdHangMuc int
	Declare @IDNhomChaCap3 int
	Declare @IDNhomChaCap2 int
	Declare @IDNhomChaCap1 int
	While exists(Select 1 from #tmpHangMucNhomHangmuc)
	Begin
		Select Top 1 @pr_IdHangMuc = IDHangMuc From #tmpHangMucNhomHangmuc

		-- Nhóm cha cấp 3
		Select @IDNhomChaCap3 = IDNhomHangMucBaoDuong from tblHangMucBaoDuong where ID = @pr_IdHangMuc
		If (@IDNhomChaCap3 is not null)
		Begin
			-- Nhóm cha cấp 2
			Select @IDNhomChaCap2 = IDParent from tblNhomHangMucBaoDuong where ID = @IDNhomChaCap3
			If (@IDNhomChaCap2 is not null)
			Begin
				-- Nhóm cha cấp 1
				Select @IDNhomChaCap1 = IDParent from tblNhomHangMucBaoDuong where ID = @IDNhomChaCap2
				If (@IDNhomChaCap1 is not null)
				Begin
					Insert into #tmpCap3 values(@IDNhomChaCap3)
					Insert into #tmpCap2 values(@IDNhomChaCap2)
					Insert into #tmpCap1 values(@IDNhomChaCap1)
				End
				Else
				Begin
					Insert into #tmpCap2 values(@IDNhomChaCap3)
					Insert into #tmpCap1 values(@IDNhomChaCap2)
				End
			End
			Else
			Begin
				--Nhóm cha cấp 1
				Insert into #tmpCap1 values(@IDNhomChaCap3)
			End
		End

		Delete #tmpHangMucNhomHangmuc where IDHangMuc = @pr_IdHangMuc
	End

	Select b.ID, b.Ten, b.SoThuTuHienThi, b.IDParent into #tmpNhomChaCap1 from (Select distinct ID from #tmpCap1) a left join tblNhomHangMucBaoDuong b on a.ID = b.ID
	Select b.ID, b.Ten, b.SoThuTuHienThi, b.IDParent into #tmpNhomChaCap2 from (Select distinct ID from #tmpCap2) a left join tblNhomHangMucBaoDuong b on a.ID = b.ID	
	Select b.ID, b.Ten, b.SoThuTuHienThi, b.IDParent into #tmpNhomChaCap3 from (Select distinct ID from #tmpCap3) a left join tblNhomHangMucBaoDuong b on a.ID = b.ID				
	
	CREATE TABLE #tmpHangMucBaoDuong
	(
		IDChiTietBaoDuong bigint null,
		IDNhomHangMuc int NULL,
		IDNhomHangMucCha int NULL,
		IDHangMuc int null,
		STT varchar(10) null,
		Ten	nvarchar(200) NULL,
		IsBold bit null,
		Level1 nvarchar(1000) default '', -- cấp bảo dưỡng 1
		Level2 nvarchar(1000) default '', -- cấp bảo dưỡng 2
		Level3 nvarchar(1000) default '', -- cấp bảo dưỡng 3
		Level4 nvarchar(1000) default '',  -- cấp bảo dưỡng 4
		IsChecked bit null,
		IsRequiresRepair bit null
	)

	Declare @IdNhomHangMucCap1 int
	Declare @IDNhomHangMucCap2 int
	Declare @IdNhomHangMucCap3 int
	Declare @IdHangMuc int
	Declare @Ten nvarchar(200)
	
	Declare @STT_NhomChaCap1 int
	Declare @STT_HangMucCap1 int
	Set @STT_NhomChaCap1 = 1
	Set @STT_HangMucCap1 = 1

	While exists(Select 1 from #tmpNhomChaCap1)
	Begin
		Select Top 1 @IdNhomHangMucCap1 = ID, @Ten = Ten From #tmpNhomChaCap1 order by SoThuTuHienThi

		-- Chèn nhóm hạng mục cha cấp 1
		Insert into #tmpHangMucBaoDuong(IDNhomHangMuc, IDNhomHangMucCha, STT, Ten, IsBold) 
		values(@IdNhomHangMucCap1, null, dbo.fnConvertIntToRoman(@STT_NhomChaCap1), @Ten, 1)
		
		-- Chèn hạng mục cấp 1
		Select b.ID, b.Ten, b.SoThuTuHienThi, b.IDNhomHangMucBaoDuong into #tmpHangMucCap1
		From #tmpHangMuc a left join tblHangMucBaoDuong b on a.IDHangMuc = b.ID
		where IDNhomHangMucBaoDuong = @IdNhomHangMucCap1 Order by SoThuTuHienThi
		
		Set @STT_HangMucCap1 = 1
		While exists(Select 1 From #tmpHangMucCap1)
		Begin
		
			Select Top 1 @IdHangMuc = ID, @Ten = Ten From #tmpHangMucCap1 Order by SoThuTuHienThi
			
			Insert into #tmpHangMucBaoDuong(IDNhomHangMuc, IDNhomHangMucCha, IDHangMuc, STT, Ten, IsBold)
			values(@IdNhomHangMucCap1, null, @IdHangMuc, @STT_HangMucCap1, @Ten, 0)

			Set @STT_HangMucCap1 = @STT_HangMucCap1 + 1

			Delete #tmpHangMucCap1 where ID = @IdHangMuc
		End
		Drop table #tmpHangMucCap1
		
		-- Chèn nhóm hạng mục cha cấp 2
		Declare @STT_NhomChaCap2 int
		Declare @STT_HangMucCap2 int
		Set @STT_NhomChaCap2 = 1
		
		While exists(Select 1 From #tmpNhomChaCap2 where IDParent = @IdNhomHangMucCap1)
		Begin
			Select Top 1 @IDNhomHangMucCap2 = ID, @Ten = Ten From #tmpNhomChaCap2 where IDParent = @IdNhomHangMucCap1 order by SoThuTuHienThi

			Insert into #tmpHangMucBaoDuong(IDNhomHangMuc, IDNhomHangMucCha, STT, Ten, IsBold) 
			values (@IDNhomHangMucCap2, @IdNhomHangMucCap1,@STT_NhomChaCap2, @Ten, 1)
			
			-- Chèn hạng mục cấp 2
			Select b.ID, b.Ten, b.SoThuTuHienThi, b.IDNhomHangMucBaoDuong Into #tmpHangMucCap2
			From #tmpHangMuc a left join tblHangMucBaoDuong b on a.IDHangMuc = b.ID
			where IDNhomHangMucBaoDuong = @IDNhomHangMucCap2 Order by SoThuTuHienThi
			
			Set @STT_HangMucCap2 = 1

			While exists(Select 1 From #tmpHangMucCap2)
			Begin
				Select Top 1 @IdHangMuc = ID, @Ten = Ten From #tmpHangMucCap2 Order by SoThuTuHienThi


				Set @STT_HangMucCap2 = @STT_HangMucCap2 + 1

				Delete #tmpHangMucCap2 where ID = @IdHangMuc
			End
			Drop table #tmpHangMucCap2

			-- Chèn nhóm hạng mục cha cấp 3
			Declare @STT_NhomChaCap3 int
			Declare @STT_HangMucCap3 int
			Set @STT_NhomChaCap3 = 1
			
			While exists(Select 1 From #tmpNhomChaCap3 where IDParent = @IDNhomHangMucCap2)
			Begin
				Select Top 1 @IdNhomHangMucCap3 = ID, @Ten = Ten From #tmpNhomChaCap3 order by SoThuTuHienThi

				
				-- Chèn hạng mục cấp 3
				Select b.ID, b.Ten, b.SoThuTuHienThi, b.IDNhomHangMucBaoDuong
				into #tmpHangMucCap3
				From #tmpHangMuc a left join tblHangMucBaoDuong b on a.IDHangMuc = b.ID
				where b.IDNhomHangMucBaoDuong = @IdNhomHangMucCap3 
				Order by SoThuTuHienThi

				Set @STT_HangMucCap3 = 1
				
				While exists(Select 1 From #tmpHangMucCap3)
				Begin
					Select Top 1 @IdHangMuc = ID, @Ten = Ten From #tmpHangMucCap3 Order by SoThuTuHienThi


					Set @STT_HangMucCap3 = @STT_HangMucCap3 + 1
					Delete #tmpHangMucCap3 where ID = @IdHangMuc
				End
				Drop table #tmpHangMucCap3

				Set @STT_NhomChaCap3 = @STT_NhomChaCap3 + 1
				Delete #tmpNhomChaCap3 where ID = @IdNhomHangMucCap3
			End
			
			Set @STT_NhomChaCap2 = @STT_NhomChaCap2 + 1
			Delete #tmpNhomChaCap2 where ID = @IDNhomHangMucCap2
		End
		
		Set @STT_NhomChaCap1 = @STT_NhomChaCap1 + 1
		Delete #tmpNhomChaCap1 where ID = @IdNhomHangMucCap1
	End
	
	UPDATE #tmpHangMucBaoDuong 
	SET #tmpHangMucBaoDuong.IDChiTietBaoDuong = b.IDChiTietBaoDuong, #tmpHangMucBaoDuong.IsChecked = b.IsChecked, 
			#tmpHangMucBaoDuong.IsRequiresRepair = b.IsRequiresRepair
	FROM #tmpHangMucBaoDuong a INNER JOIN #tmpChiTietBaoDuong b ON a.IDHangMuc = b.IDHangMuc

	Drop table #tmpNhomChaCap3
	Drop table #tmpNhomChaCap2
	Drop table #tmpNhomChaCap1
	
	/* LẤY CÁC CÔNG VIỆC CỦA HẠNG MỤC BẢO DƯỠNG THEO TỪNG CẤP */

	-- Lấy danh sách cấp bảo dưỡng
	Select d.ID, d.Ten, d.ShowInPrintPosition1, d.ShowInPrintPosition2, d.LevelInPrint 
	Into #tmpCapBaoDuong
	From tblTheBaoDuong a left join tblCapBaoDuong b on a.IDCapBaoDuong = b.ID
						  left join tblLoaiBaoDuong c on b.IDLoaiBaoDuong = c.IDLoaiBaoDuong
						  left join tblCapBaoDuong d on c.IDLoaiBaoDuong = d.IDLoaiBaoDuong
	Where a.Id = @idMaintenance
	Order by d.SoLuongMoc

	Select ID, Ten, ShowInPrintPosition1, ShowInPrintPosition2, LevelInPrint into #tmpDanhSachCapBaoDuong from #tmpCapBaoDuong

	-- Cập nhật các công việc cho hạng mục theo từng cấp bảo dưỡng
	Declare @ThuTuCap int
	Set @ThuTuCap = 1
	Declare @IdCapBaoDuong int
	Declare @IdChiTietBaoDuong bigint
	While exists(Select 1 From #tmpCapBaoDuong)
	Begin
		Select Top 1 @IdCapBaoDuong = ID From #tmpCapBaoDuong

		-- Duyệt qua các hạng muc
		Select IDChiTietBaoDuong into #tmpIdHangMuc From #tmpHangMucBaoDuong where IDChiTietBaoDuong is not null
		While exists(Select 1 From #tmpIdHangMuc)
		Begin
			Select Top 1 @IDChiTietBaoDuong = IDChiTietBaoDuong From #tmpIdHangMuc

			-- Lấy các công việc
			Declare @IdTaskList nvarchar(2000)
			Declare @TaskNameList nvarchar(1000)
			Begin				
				Set @IdTaskList = ''
				Set @TaskNameList = ''

				Select b.ID, b.MaCongViec into #tmpTask
				from tblChiTietBaoDuongCongViec a left join tblCongViec b on a.IDCongViec = b.ID
				where a.IDChiTietBaoDuong = @IDChiTietBaoDuong and a.IDCapBaoDuong = @IdCapBaoDuong

				Declare @IdTask int, @TaskName nvarchar(10)
				While exists(Select 1 from #tmpTask)
				Begin
					Select Top 1 @IdTask = ID, @TaskName = MaCongViec From #tmpTask

					If @IdTaskList = ''
						Set @IdTaskList = cast(@IdTask as varchar(10))
					Else
						Set @IdTaskList = @IdTaskList + ',' + cast(@IdTask as varchar(10))

					If @TaskNameList = ''
						Set @TaskNameList = @TaskName
					Else
						Set @TaskNameList = @TaskNameList + ', ' + @TaskName

					Delete #tmpTask Where ID = @IdTask
				End
				Drop table #tmpTask
			End

			if @ThuTuCap = 1
				Update #tmpHangMucBaoDuong Set Level1 = @TaskNameList where IDChiTietBaoDuong = @IDChiTietBaoDuong
			else if @ThuTuCap = 2
				Update #tmpHangMucBaoDuong Set Level2 = @TaskNameList where IDChiTietBaoDuong = @IDChiTietBaoDuong
			else if @ThuTuCap = 3
				Update #tmpHangMucBaoDuong Set Level3 = @TaskNameList where IDChiTietBaoDuong = @IDChiTietBaoDuong
			else if @ThuTuCap = 4
				Update #tmpHangMucBaoDuong Set Level4 = @TaskNameList where IDChiTietBaoDuong = @IDChiTietBaoDuong

			Delete #tmpIdHangMuc where IDChiTietBaoDuong = @IDChiTietBaoDuong
		End
		Drop table #tmpIdHangMuc

		Set @ThuTuCap = @ThuTuCap + 1 
		Delete #tmpCapBaoDuong where ID = @IdCapBaoDuong
	End

	Select * from #tmpHangMucBaoDuong
	Select * from #tmpDanhSachCapBaoDuong

	drop table #tmpHangMucBaoDuong
	drop table #tmpChiTietBaoDuong
END

