
CREATE PROCEDURE [dbo].[sp_TinhLaiTanSuatHoatDongThucTe]
(
	@TuNgay smalldatetime,
	@DenNgay smalldatetime
)
AS
Begin

Set nocount on

-- Lấy danh sách xe
select a.ID, a.BienSo, d.Ma as KieuBaoDuong
into #tmpTrangThietBi
from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
						left join tblLoaiBaoDuong c on b.IDLoaiBaoDuong = c.IDLoaiBaoDuong
						left join tblKieuBaoDuong d on c.IDKieuBaoDuong = d.ID
order by d.Ma

-- Tính tần suất hoạt động từng xe
Declare @beginDate datetime, @enddate datetime
declare @ID int
declare @Ma varchar(10)
Declare @IDTrangThietBi int
Declare @today float, @tomorrow float,  @TanSuat float
while exists(select 1 from #tmpTrangThietBi)
begin
	select top 1 @ID = ID, @Ma = KieuBaoDuong from #tmpTrangThietBi

	If @Ma = 'gio'
	Begin
		Set @IDTrangThietBi = @ID
		Set @beginDate = @TuNgay
		Set @enddate = @DenNgay
		Set @today = 0
		Set @tomorrow = 0
		Set @TanSuat = 0
		While @beginDate <= @enddate 
		Begin
			select Top 1 @today = SoGio from tblNhatKyHoatDong where idTrangThietBi = @IDTrangThietBi and NgayHoatDong = @beginDate
			select Top 1 @tomorrow = SoGio from tblNhatKyHoatDong where idTrangThietBi = @IDTrangThietBi and NgayHoatDong = DATEADD(day, 1, @beginDate)
			if (@tomorrow is not null)
			Begin
				Set @TanSuat = @tomorrow - @today
				Set @TanSuat = Round(@TanSuat, 2)
				Delete tblTanSuatHoatDongThucTe where IDTrangThietBi = @IDTrangThietBi and NgayHoatDong = @beginDate
				If @TanSuat is not null
					Insert into tblTanSuatHoatDongThucTe values(@IDTrangThietBi, @beginDate, @TanSuat)
			End
	
			Set @beginDate = DATEADD(day, 1, @beginDate)
		End
	End
	Else If @Ma = 'km' Or @Ma = 'thang'
		Begin
			Set @IDTrangThietBi = @ID
			Set @beginDate = @TuNgay
			Set @enddate = @DenNgay
			Set @today = 0
			Set @tomorrow = 0
			Set @TanSuat = 0
			While @beginDate <= @enddate 
			Begin
				select Top 1 @today = SoKm from tblNhatKyHoatDong where idTrangThietBi = @IDTrangThietBi and NgayHoatDong = @beginDate
				select Top 1 @tomorrow = SoKm from tblNhatKyHoatDong where idTrangThietBi = @IDTrangThietBi and NgayHoatDong = DATEADD(day, 1, @beginDate)
				if (@tomorrow is not null)
				Begin
					Set @TanSuat = @tomorrow - @today
					Set @TanSuat = Round(@TanSuat, 2)
					Delete tblTanSuatHoatDongThucTe where IDTrangThietBi = @IDTrangThietBi and NgayHoatDong = @beginDate
					If @TanSuat is not null
						Insert into tblTanSuatHoatDongThucTe values(@IDTrangThietBi, @beginDate, @TanSuat)
				End
	
				Set @beginDate = DATEADD(day, 1, @beginDate)
			End
		End

	delete #tmpTrangThietBi where ID = @ID
end

drop table #tmpTrangThietBi
End
GO
exec sp_TinhLaiTanSuatHoatDongThucTe '20190601', '20190925'
