
ALTER PROCEDURE [dbo].[sp_Search_TrangThietBi]
   @IDCongTy int = null,
   @IDLoaiTrangThietBi int = null,	
   @BienSo nvarchar(50) = null,	
   @Ten nvarchar(300)=null,
   @PageNo int = 1,
   @PageSize int = 10,
   @SortColumn nvarchar(100) = 'ID',
   @SortOrder nvarchar(4)='DESC',
   @TotalRecord int out
AS
BEGIN
	
	SET NOCOUNT ON
	
	DECLARE @pr_PageNbr int,
			@pr_PageSize int,
			@pr_SortColumn nvarchar(30),
			@pr_FirstRecord int,
			@pr_LastRecord int
    
    SET @pr_PageNbr = @PageNo 
    SET @pr_PageSize = @PageSize
    SET @pr_SortColumn = LTRIM(RTRIM(@SortColumn))

    SET @pr_FirstRecord = (@pr_PageNbr - 1) * @pr_PageSize
    SET @pr_LastRecord = @pr_PageNbr * @pr_PageSize + 1
    
    ;WITH Results
    AS (
		SELECT ROW_NUMBER() OVER (ORDER BY ID DESC) AS RowNum,
				Count(1) over () AS TotalCount, ID, MaTaiSan, Ten, NamSanXuat, NuocSanXuat, NgayDangKiemLanDau,
				SoThangDangKiemDinhKy, BienSo, SoKhung, LoaiMay, SoMay, GhiChu,
				IDCongTy, IDLoaiTrangThietBi
		FROM tblTrangThietBi
		WHERE (IDCongTy = @IDCongTy or @IDCongTy is null) 
				And (IDLoaiTrangThietBi = @IDLoaiTrangThietBi or @IDLoaiTrangThietBi is null) 
				 And (Ten like '%' + @Ten + '%' or @Ten is null or @Ten = '')
				 And (BienSo = @BienSo or @BienSo is null or @BienSo = '')
	)
	
	SELECT a.TotalCount, a.RowNum, a.ID, a.MaTaiSan, a.Ten, a.NamSanXuat, a.NuocSanXuat, a.NgayDangKiemLanDau,
				a.SoThangDangKiemDinhKy, a.BienSo, a.SoKhung, a.LoaiMay, a.SoMay, a.GhiChu,
				a.IDCongTy, a.IDLoaiTrangThietBi, b.Ten as TenLoaiTrangThietBi,
				c.TenVietTat as TenCongTy
	INTO #tmp 
	FROM Results a LEFT JOIN tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID 
					 LEFT JOIN tblCongTy c on a.IDCongTy = c.ID
	ORDER BY RowNum ASC

	Select Top 1 @TotalRecord = TotalCount from #tmp
    set @TotalRecord = ISNULL(@TotalRecord, 0)

	While (@pr_FirstRecord > @TotalRecord) 
		Set @pr_FirstRecord = @pr_FirstRecord - @PageSize
		
	Select * from #tmp where RowNum > @pr_FirstRecord AND RowNum < @pr_LastRecord   
    
END

