
/*
	Xóa tần suất hoạt động thực tế
*/
ALTER TRIGGER [dbo].[tg_tblNhatKyHoatDong_AfterDelete] ON [dbo].[tblNhatKyHoatDong] AFTER DELETE 
AS
BEGIN
	Declare @IDTrangThietBi int, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = del.IDTrangThietBi FROM DELETED del;
	SELECT @Ngay = del.NgayHoatDong FROM DELETED del;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    -- Delete tblDinhMucTheoNgay where IDTrangThietBi = @IDTrangThietBi And (Ngay = @Ngay or Ngay = @NgayTruoc)

	Delete tblTanSuatHoatDongThucTe where IDTrangThietBi = @IDTrangThietBi And NgayHoatDong = @Ngay
	Delete tblTanSuatHoatDongThucTe where IDTrangThietBi = @IDTrangThietBi And NgayHoatDong = @NgayTruoc
	
END




