


GO
/*
	Tính tần suất hoạt động thực tế
*/
ALTER TRIGGER [dbo].[tg_tblNhatKyHoatDong_AfterInsert] ON [dbo].[tblNhatKyHoatDong] AFTER INSERT 
AS
BEGIN
	DECLARE @IDTrangThietBi INT, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = ins.IDTrangThietBi FROM INSERTED ins;
	SELECT @Ngay = ins.NgayHoatDong FROM INSERTED ins;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    --exec sp_TinhDinhMucTheoNgay @NgayTruoc, @IDTrangThietBi
	--exec sp_TinhDinhMucTheoNgay @Ngay, @IDTrangThietBi

	Exec sp_TinhTanSuatHoatDongThucTeTungNgay @IDTrangThietBi, @NgayTruoc
	Exec sp_TinhTanSuatHoatDongThucTeTungNgay @IDTrangThietBi, @Ngay
END
