

/*
	-- Khi thêm thẻ bảo dưỡng đã được update ở trigger
	-- Khi cập nhật thẻ bảo dưỡng thì update lại Số giờ (Số km) gần nhất
	-- Khi xóa thẻ bảo dưỡng thì update lại Ngày bảo dưỡng, Số giờ (Số km) của thẻ bảo dưỡng gần nhất
*/
ALTER PROCEDURE [dbo].[sp_UpdateThongTinBaoDuongVaoTrangThietBi]
(
	@IDTheBaoDuong int
)
AS
BEGIN
	SET NOCOUNT ON
	
	Declare @IdTrangThietBi int
	Declare @NgayBaoDuong smalldatetime
	Declare @MaBaoDuong varchar(10)
	declare @SoGioHoacKm float

	Select @IdTrangThietBi = IDTrangThietBi from tblTheBaoDuong where ID = @IDTheBaoDuong
	If @IdTrangThietBi is not null
	Begin
		select Top 1 @IdTrangThietBi = a.IDTrangThietBi, @NgayBaoDuong = a.NgayBaoDuong, 
				@SoGioHoacKm = a.SoGioHoacKm, @MaBaoDuong = e.Ma
		from tblTheBaoDuong a left join tblTrangThietBi b on a.IDTrangThietBi = b.ID
								left join tblLoaiTrangThietBi c on b.IDLoaiTrangThietBi = c.ID
								left join tblLoaiBaoDuong d on c.IDLoaiBaoDuong = d.IDLoaiBaoDuong
								left join tblKieuBaoDuong e on d.IDKieuBaoDuong = e.ID
		where b.ID = @IdTrangThietBi 
		order by a.NgayBaoDuong desc

		if @MaBaoDuong = 'gio'
		begin
			update tblTrangThietBi Set NgayBaoDuongGanNhat = @NgayBaoDuong where id = @IdTrangThietBi	
			update tblTrangThietBi Set SoGioBaoDuongGanNhat = @SoGioHoacKm where id = @IdTrangThietBi
		end
		else if @MaBaoDuong = 'km'
		begin
			update tblTrangThietBi Set NgayBaoDuongGanNhat = @NgayBaoDuong where id = @IdTrangThietBi
			update tblTrangThietBi Set SoKmBaoDuongGanNhat = @SoGioHoacKm where id = @IdTrangThietBi
		end
	End
	
END

GO
--exec sp_UpdateThongTinBaoDuongVaoTrangThietBi 2653