USE [EMM]
GO
ALTER PROCEDURE [dbo].[spFunction_GetAllByIdUser]
	@IdUser int
AS
BEGIN
	
	SET NOCOUNT ON

	SELECT B.* 
	INTO #tmpFucntion 
	FROM (
			Select distinct d.IdFunction 
			from tblUserRole a left join tblRoles b on a.IDRole = b.ID
								left join tblRightsInRoles c on b.ID = c.IdRole
								left join tblRights d on c.IdRight = d.ID
			where a.IdUser = @IdUser and b.Status = 1 and d.Status = 1) A LEFT JOIN tblFunctions B on A.IdFunction = B.ID	
	
	SELECT * FROM tblFunctions a WHERE Code IN (Select Distinct ParentCode From #tmpFucntion)
	UNION ALL
	SELECT * FROM  #tmpFucntion
	ORDER BY DisplayOrder
END
