
-- Thêm menu Loại bảo dưỡng
GO
insert into tblFunctions(Name, Code, ParentCode, [Description], DisplayOrder, ShowInMenu, GroupMenu, ImageMenu, IndexShowInPermission, Url, ShortName, Icon_css)
values('Child maintenance type', 'child_maintenance_type', 'equipment_list_management', N'Loại bảo dưỡng', 10, 1, null, null, 1, 'MaintenanceChildType.aspx', 'CM', null)

GO
insert into tblRights values(2032, 'View child maintenance type list', 'child_maintenance_type_view', 'View child maintenance type list', 1)
insert into tblRights values(2032, 'Add child maintenance type', 'child_maintenance_type_add', 'Add child maintenance type list', 1)
insert into tblRights values(2032, 'Edit child maintenance type', 'child_maintenance_type_edit', 'Edit child maintenance type list', 1)

GO
Insert into tblRightsInRoles values(2082, 1)
Insert into tblRightsInRoles values(2083, 1)
Insert into tblRightsInRoles values(2084, 1)

GO
Update tblFunctions set ParentCode = 'equipment_list_management', DisplayOrder = 11 where ID = 2026

GO
-- Cảnh báo hạn bảo dưỡng
insert into tblFunctions(Name, Code, ParentCode, [Description], DisplayOrder, ShowInMenu, GroupMenu, ImageMenu, IndexShowInPermission, Url, ShortName, Icon_css)
values('Warning maintenance', 'warning_maintenance', 'maintenance', N'Cảnh báo thời hạn bảo dưỡng', 4, 1, null, null, 1, 'WarningMaintenance.aspx', 'WM', null)

GO

GO

GO
select * from tblRightsInRoles
select * from tblRights
select * from tblFunctions order by ParentCode
