

ALTER PROCEDURE [dbo].[sp_SearchMaintenanceLevel]
   @IDKieuBaoDuong int null,
   @IDLoaiBaoDuong int null,	
   @Ten nvarchar(200)=null,
   @PageNo int = 1,
   @PageSize int = 10,
   @SortColumn nvarchar(100) = 'ID',
   @SortOrder nvarchar(4)='DESC',
   @TotalRecord int out
AS
BEGIN
	
	SET NOCOUNT ON
	
	DECLARE @pr_PageNbr int,
			@pr_PageSize int,
			@pr_SortColumn nvarchar(30),
			@pr_FirstRecord int,
			@pr_LastRecord int
    
    SET @pr_PageNbr = @PageNo 
    SET @pr_PageSize = @PageSize
    SET @pr_SortColumn = LTRIM(RTRIM(@SortColumn))

    SET @pr_FirstRecord = (@pr_PageNbr - 1) * @pr_PageSize
    SET @pr_LastRecord = @pr_PageNbr * @pr_PageSize + 1
    
    ;WITH Results
    AS (
		SELECT ROW_NUMBER() OVER (ORDER BY c.ID, b.IDLoaiBaoDuong, a.ID ) AS RowNum, 
				Count(1) over () AS TotalCount, a.ID, a.Ten as TenCapBaoDuong, a.GhiChu, a.SoLuongMoc, b.Ten as TenLoaiBaoDuong, c.Ten as TenKieuBaoDuong, 
				c.GhiChu as MaKieuBaoDuong
		FROM tblCapBaoDuong a left join tblLoaiBaoDuong b on a.IDLoaiBaoDuong = b.IDLoaiBaoDuong
							  left join tblKieuBaoDuong c on b.IDKieuBaoDuong = c.ID
		WHERE (a.Ten like '%' + @Ten + '%') And 
				(c.ID = @IDKieuBaoDuong or @IDKieuBaoDuong is null or @IDKieuBaoDuong = 0) And
				(b.IDLoaiBaoDuong = @IDLoaiBaoDuong or @IDLoaiBaoDuong is null or @IDLoaiBaoDuong = 0)
	)
	
	SELECT TotalCount, RowNum, ID, TenCapBaoDuong, SoLuongMoc, GhiChu, TenLoaiBaoDuong, TenKieuBaoDuong, MaKieuBaoDuong
	INTO #tmp
	FROM Results as CPC
	ORDER BY RowNum ASC

	Select Top 1 @TotalRecord = TotalCount from #tmp
    set @TotalRecord = ISNULL(@TotalRecord, 0)

	While (@pr_FirstRecord > @TotalRecord) 
		Set @pr_FirstRecord = @pr_FirstRecord - @PageSize
		
	Select a.TotalCount, a.RowNum, a.ID, a.TenCapBaoDuong, a.SoLuongMoc, a.GhiChu, a.TenLoaiBaoDuong, a.TenKieuBaoDuong, a.MaKieuBaoDuong
	from #tmp a 
	where a.RowNum > @pr_FirstRecord AND RowNum < @pr_LastRecord   
    
END