
GO
ALTER PROCEDURE [dbo].[sp_CanhBaoBaoDuongTheoThangCacXe]
(
	@IDCongTy int = null,
	@IDLoaiTrangThietBi int = null,
	@BienSo nvarchar(50) = null
)
AS
BEGIN
	SET NOCOUNT ON

	-- Lọc danh sách TTB
	Select c.TenVietTat as TenCongTy, a.ID as IDTrangThietBi, a.BienSo, a.Ten as TenXe,
			d.IDKieuBaoDuong, d.Ten as TenKieuBaoDuong, b.IDLoaiBaoDuong, e.Ten as TenLoaiBaoDuong, e.Ma as MaKieuBaoDuong, d.SoLuongBaoDuongDinhKy,
			b.Ten as LoaiTrangThietBi, a.NgayBaoDuongGanNhat, a.SoGioBaoDuongGanNhat, a.SoKmBaoDuongGanNhat, 
			(Select Top 1 SoLuongTanSuat From tblTanSuatHoatDong Where IDTrangThietBi = a.ID Order By NgayBatDauApDung Desc) as TanSuatHoatDong
	Into #tmp
	from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
						   left join tblCongTy c on a.IDCongTy = c.ID
						   left join tblLoaiBaoDuong d on b.IDLoaiBaoDuong = d.IDLoaiBaoDuong
						   left join tblKieuBaoDuong e on d.IDKieuBaoDuong = e.ID
	Where (a.IDCongTy = @IDCongTy or @IDCongTy is null or @IDCongTy = 0) And 
			(b.ID = @IDLoaiTrangThietBi or @IDLoaiTrangThietBi is null or @IDLoaiTrangThietBi = 0) And (b.IDLoaiBaoDuong is not null) And
			(a.BienSo like '%' + @BienSo + '%' or @BienSo is null or @BienSo = '') 
	And e.Ma = 'gio'
	Order by c.TenVietTat, b.SoThuTuHienThi
	
	--select * from #tmp return 

	CREATE TABLE #tmpResult (
		IDTrangThietBi int null,
		LoaiTrangThietBi nvarchar(300) null,
		TenCongTy nvarchar(100),
		BienSo nvarchar(50) null,
		TenXe nvarchar(300) null,
		MaKieuBaoDuong nvarchar(50) null,
		KieuBaoDuong nvarchar(300) null,
		LoaiBaoDuong nvarchar(200) null,
		NgayBaoDuongGanNhat smalldatetime null,
		SoKmDaChay float null,
		SoGioDaChay float null,
		TanSuatHoatDong float null,
		NgayBaoDuongTiepTheo smalldatetime null,
		SoNgayConLaiChoLanBaoDuongTiepTheo int null,
		MocBaoDuongTiepTheo float null
	);

	Insert into #tmpResult(IDTrangThietBi, LoaiTrangThietBi, TenCongTy, BienSo, TenXe, MaKieuBaoDuong, KieuBaoDuong, 
			LoaiBaoDuong, NgayBaoDuongGanNhat, SoKmDaChay, SoGioDaChay, TanSuatHoatDong) 
	Select IDTrangThietBi, LoaiTrangThietBi, TenCongTy, BienSo, TenXe, MaKieuBaoDuong, TenKieuBaoDuong, 
			TenLoaiBaoDuong, NgayBaoDuongGanNhat, SoKmBaoDuongGanNhat, SoGioBaoDuongGanNhat, TanSuatHoatDong
	From #tmp
	
	--select * from #tmpResult return 

	-- Duyệt qua từng TTB
	Declare @pr_IdTrangThietBi int
	Declare @pr_MaKieuBaoDuong varchar(20)
	declare @pr_NgayBaoDuongTiepTheo smalldatetime
	declare @pr_SoNgayConLaiChoLanBaoDuongTiepTheo int
	declare @pr_MocBaoDuongTiepTheo float
	While exists(Select 1 from #tmp) 
	Begin
		Select Top 1 @pr_IdTrangThietBi = IDTrangThietBi, @pr_MaKieuBaoDuong = MaKieuBaoDuong From #tmp 
		
		--select @pr_IdTrangThietBi
		Set @pr_NgayBaoDuongTiepTheo = null
		Set @pr_SoNgayConLaiChoLanBaoDuongTiepTheo = null
		Set @pr_MocBaoDuongTiepTheo = null

		If (@pr_MaKieuBaoDuong = 'thang')
			exec sp_CanhBaoBaoDuongTheoThangTungXe @pr_IdTrangThietBi, @pr_NgayBaoDuongTiepTheo out, @pr_SoNgayConLaiChoLanBaoDuongTiepTheo out
		Else If (@pr_MaKieuBaoDuong = 'km')
			exec sp_CanhBaoBaoDuongTheoKmTungXe @pr_IdTrangThietBi, @pr_NgayBaoDuongTiepTheo out, @pr_SoNgayConLaiChoLanBaoDuongTiepTheo out
		Else If (@pr_MaKieuBaoDuong = 'gio')
			exec sp_CanhBaoBaoDuongTheoGioTungXe @pr_IdTrangThietBi, @pr_NgayBaoDuongTiepTheo out, @pr_SoNgayConLaiChoLanBaoDuongTiepTheo out, @pr_MocBaoDuongTiepTheo out

		Update #tmpResult 
		Set NgayBaoDuongTiepTheo = @pr_ngayBaoDuongTiepTheo, SoNgayConLaiChoLanBaoDuongTiepTheo = @pr_soNgayConLaiChoLanBaoDuongTiepTheo,
			MocBaoDuongTiepTheo = @pr_MocBaoDuongTiepTheo
		Where IDTrangThietBi = @pr_IdTrangThietBi

		Delete #tmp where IDTrangThietBi = @pr_IdTrangThietBi
	End

	Select *, (case when MaKieuBaoDuong = 'km' then SoKmDaChay 
					when MaKieuBaoDuong = 'gio' then SoGioDaChay End)  as SoKmGioDaChay
	From #tmpResult
	Order by MaKieuBaoDuong, SoNgayConLaiChoLanBaoDuongTiepTheo

	Drop table #tmp
	Drop table #tmpResult
END
