
/*
	+ Tính ngày bảo dưỡng tiếp theo
	+ Số ngày tới hạn bão dưỡng tiếp theo
*/
ALTER PROCEDURE [dbo].[sp_CanhBaoBaoDuongTheoGioTungXe]
	@ID int,
	@ngayBaoDuongTiepTheo smalldatetime out,
	@soNgayConLaiChoLanBaoDuongTiepTheo int out,
	@soGioMocBaoDuongTiepTheo float out
AS
BEGIN
	SET NOCOUNT ON
	
	-- Ngày hiện tại
	Declare @ngayHienTai smalldatetime
	Set @ngayHienTai = getdate() 

	-- Ngày bảo dưỡng gần nhất
	Declare @ngayBatDauTinhBaoDuong smalldatetime
	
	-- Số km bảo dưỡng định kỳ
	Declare @soGioBaoDuongDinhKy float
	Declare @soGioBatDauTinhBaoDuong float
	Declare @tanSuatHoatDong float			
	Select  Top 1 @soGioBaoDuongDinhKy = c.SoLuongBaoDuongDinhKy, @ngayBatDauTinhBaoDuong = a.NgayBaoDuongGanNhat, 
			@soGioBatDauTinhBaoDuong = a.SoGioBaoDuongGanNhat
	from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
							left join tblLoaiBaoDuong c on b.IDLoaiBaoDuong = c.IDLoaiBaoDuong
	where a.ID = @ID

	Select Top 1 @tanSuatHoatDong = Isnull(SoLuongTanSuat, 0) from tblTanSuatHoatDong where IDTrangThietBi = @ID order by NgayBatDauApDung desc

	If (@soGioBaoDuongDinhKy is not null and @ngayBatDauTinhBaoDuong is not null and @tanSuatHoatDong > 0)
	Begin
		--Tính số giờ bảo dưỡng tiếp theo
		Declare @soGioBaoDuongTiepTheo float
		Set @soGioBaoDuongTiepTheo = 0
		Declare @i int
		Set @i = 1
		While @soGioBaoDuongTiepTheo <= @soGioBatDauTinhBaoDuong
		Begin
			Set @soGioBaoDuongTiepTheo = @soGioBaoDuongDinhKy * @i
			Set @i = @i + 1
		End
		
		Set @soGioMocBaoDuongTiepTheo = @soGioBaoDuongTiepTheo
		Set @ngayBaoDuongTiepTheo = @ngayBatDauTinhBaoDuong
		
		While @soGioBatDauTinhBaoDuong <  @soGioBaoDuongTiepTheo
		Begin
			Set @soGioBatDauTinhBaoDuong = @soGioBatDauTinhBaoDuong + @tanSuatHoatDong
			Set @ngayBaoDuongTiepTheo = DATEADD(dd, 1, @ngayBaoDuongTiepTheo) 
		End
		
		Set @soNgayConLaiChoLanBaoDuongTiepTheo = DATEDIFF(dd, @ngayHienTai, DATEADD(dd, -1, @ngayBaoDuongTiepTheo)) 
	End
END

GO
/*
Declare @pr_IdTrangThietBi int
Set @pr_IdTrangThietBi = 15
declare @pr_NgayBaoDuongTiepTheo smalldatetime
declare @pr_SoNgayConLaiChoLanBaoDuongTiepTheo int
declare @soGioMocBaoDuongTiepTheo float
Set @pr_NgayBaoDuongTiepTheo = null
Set @pr_SoNgayConLaiChoLanBaoDuongTiepTheo = null
exec sp_CanhBaoBaoDuongTheoGioTungXe @pr_IdTrangThietBi, @pr_NgayBaoDuongTiepTheo out, @pr_SoNgayConLaiChoLanBaoDuongTiepTheo out, @soGioMocBaoDuongTiepTheo out
select @pr_NgayBaoDuongTiepTheo, @pr_SoNgayConLaiChoLanBaoDuongTiepTheo, @soGioMocBaoDuongTiepTheo
*/
