

GO
ALTER PROCEDURE [dbo].[sp_Search_TheBaoDuong]
   @TuNgay smalldatetime = null,
   @DenNgay smalldatetime = null,
   @IDCongTy int = null,
   @IDKieuBaoDuong int = null,
   @IDLoaiTrangThietBi int = null,
   @BienSo nvarchar(50) = '',
   @PageNo int = 1,
   @PageSize int = 10,
   @SortColumn nvarchar(100) = 'ID',
   @SortOrder nvarchar(4)='DESC',
   @TotalRecord int out
AS
BEGIN
	
	SET NOCOUNT ON
	
	DECLARE @pr_PageNbr int,
			@pr_PageSize int,
			@pr_SortColumn nvarchar(30),
			@pr_FirstRecord int,
			@pr_LastRecord int
    
    SET @pr_PageNbr = @PageNo 
    SET @pr_PageSize = @PageSize
    SET @pr_SortColumn = LTRIM(RTRIM(@SortColumn))

    SET @pr_FirstRecord = (@pr_PageNbr - 1) * @pr_PageSize
    SET @pr_LastRecord = @pr_PageNbr * @pr_PageSize + 1
    
    ;WITH Results
    AS (
		SELECT ROW_NUMBER() OVER (ORDER BY a.NgayBaoDuong DESC) AS RowNum,
				Count(1) over () AS TotalCount, a.ID, a.NgayBaoDuong, a.NguoiBaoDuong, b.Ten as TenTrangThietBi, b.BienSo,
							c.Ten as LoaiTrangThietBi, e.Ten as KieuBaoDuong
		FROM tblTheBaoDuong a left join tblTrangThietBi b on a.IDTrangThietBi = b.ID
							  left join tblLoaiTrangThietBi c on b.IDLoaiTrangThietBi = c.ID
							  left join tblLoaiBaoDuong d on c.IDLoaiBaoDuong = d.IDLoaiBaoDuong
							  left join tblKieuBaoDuong e on d.IDKieuBaoDuong = e.ID
		WHERE (a.NgayBaoDuong >= @TuNgay And a.NgayBaoDuong <= @DenNgay) And
				(c.ID = @IDLoaiTrangThietBi or @IDLoaiTrangThietBi is null or @IDLoaiTrangThietBi = 0) And
				(e.ID = @IDKieuBaoDuong or @IDKieuBaoDuong is null) And
				(b.BienSo like '%' + @BienSo + '%' or @BienSo = '') And
				(b.IDCongTy = @IDCongTy or @IDCongTy is null)
	)
	
	SELECT a.TotalCount, a.RowNum, a.ID,  a.NgayBaoDuong, a.NguoiBaoDuong, a.KieuBaoDuong, a.LoaiTrangThietBi, a.TenTrangThietBi, a.BienSo
	INTO #tmp 
	FROM Results a 
	ORDER BY a.NgayBaoDuong DESC

	Select Top 1 @TotalRecord = TotalCount from #tmp
    set @TotalRecord = ISNULL(@TotalRecord, 0)

	While (@pr_FirstRecord > @TotalRecord) 
		Set @pr_FirstRecord = @pr_FirstRecord - @PageSize
		
	Select * from #tmp where RowNum > @pr_FirstRecord AND RowNum < @pr_LastRecord   
    
END

GO
Declare @total int
EXEC sp_Search_TheBaoDuong '20180101', '20181201', null, null, null, '', 1, 10, 'ID', 'DESC', @total out
select @total