
GO
ALTER PROCEDURE sp_LayDanhSachHangMucBaoDuong
AS
BEGIN
	SET NOCOUNT ON

	CREATE TABLE #tmpHangMucBaoDuong
	(
		IDNhomHangMuc int NULL,
		IDNhomHangMucCha int NULL,
		IDHangMuc int null,
		STT varchar(10) null,
		Ten	nvarchar(200) NULL,
		IsBold bit null,
		TaskNameList nvarchar(max) default '',
		TaskIdList nvarchar(max) default ''
	)

	Select ID, Ten, SoThuTuHienThi, IDParent into #tmp1 from tblNhomHangMucBaoDuong 
	where IDParent = '' or IDParent is null Order by SoThuTuHienThi
	
	Declare @charIndex int
	Set @charIndex = 65

	Declare @IdNhomHangMuc int
	Declare @IdNhomHangMucCha int
	Declare @IdHangMuc int
	Declare @Ten nvarchar(200)
	Declare @STT int
	While exists(Select 1 from #tmp1)
	Begin
		-- Chèn nhóm hạng mục cha
		Select Top 1 @IdNhomHangMuc = ID, @IdNhomHangMucCha = IDParent, @Ten = Upper(Ten) From #tmp1
		Insert into #tmpHangMucBaoDuong(IDNhomHangMuc, IDNhomHangMucCha, STT, Ten, IsBold) values(@IdNhomHangMuc, @IdNhomHangMucCha, Char(@charIndex), @Ten, 1)

		-- Chèn nhóm hạng mục con
		Declare @IDNhomHangMucCon int
		Select ID, Ten, SoThuTuHienThi, IDParent into #tmp2 from tblNhomHangMucBaoDuong where IDParent = @IdNhomHangMuc order by SoThuTuHienThi
		While exists(Select 1 From #tmp2)
		Begin
			
			Select Top 1 @IDNhomHangMucCon = ID, @Ten = Ten From #tmp2 order by SoThuTuHienThi
			Insert into #tmpHangMucBaoDuong(IDNhomHangMuc, IDNhomHangMucCha, Ten, IsBold) values(@IDNhomHangMucCon, @IdNhomHangMuc, @Ten, 1)
			
			-- Chèn loại hạng mục con
			Set @STT = 1
			Select ID, Ten, SoThuTuHienThi into #tmp3 From tblHangMucBaoDuong where IDNhomHangMucBaoDuong = @IDNhomHangMucCon Order by SoThuTuHienThi
			While exists(Select 1 From #tmp3)
			Begin
				Select Top 1 @IdHangMuc = ID, @Ten = Ten From #tmp3 order by SoThuTuHienThi

				Insert into #tmpHangMucBaoDuong(IDNhomHangMuc, IDNhomHangMucCha, IDHangMuc, STT, Ten, IsBold)
				values(@IDNhomHangMucCon, @IdNhomHangMucCha, @IdHangMuc, @STT, @Ten, 0)

				Set @STT = @STT + 1
				Delete #tmp3 where ID = @IdHangMuc
			End
			Drop table #tmp3

			Set @charIndex = @charIndex + 1
			Delete #tmp2 where ID = @IDNhomHangMucCon
		End
		Drop table #tmp2

		Delete #tmp1 where ID = @IdNhomHangMuc
	End
	Drop table #tmp1
	
	Select * from #tmpHangMucBaoDuong
END

GO
exec dbo.sp_LayDanhSachHangMucBaoDuong;
