
GO
ALTER PROCEDURE [dbo].[sp_Search_TrangThietBi_Export]
   @IDCongTy int = null,
   @IDNhomTrangThietBi int = null,
   @IDLoaiTrangThietBi int = null,	
   @BienSo nvarchar(50) = null,	
   @Ten nvarchar(300)=null
AS
BEGIN
	
	SET NOCOUNT ON
	
	SELECT ROW_NUMBER() OVER (ORDER BY d.ID, c.ID, b.ID) AS RowNum,
			d.TenVietTat as CongTy, c.TenNhom as NhomXe, b.Ten as LoaiXe,
			a.Ten as TenXe, a.MaTaiSan, a.NamSanXuat, a.NuocSanXuat, a.NgayDangKiemLanDau,
			a.SoThangDangKiemDinhKy, a.BienSo, a.SoKhung, a.LoaiMay, a.SoMay
	FROM tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
						   left join tblNhomTrangThietBi c on b.IDNhomTrangThietBi = c.ID
						   left join tblCongTy d on a.IDCongTy = d.ID
	WHERE (IDCongTy = @IDCongTy or @IDCongTy is null) 
			And (a.IDLoaiTrangThietBi = @IDLoaiTrangThietBi or @IDLoaiTrangThietBi is null) 
			And (a.Ten like '%' + @Ten + '%' or @Ten is null or @Ten = '')
			And (a.BienSo = @BienSo or @BienSo is null or @BienSo = '')
			And (c.ID = @IDNhomTrangThietBi or @IDNhomTrangThietBi is null)
    
END

