
GO
ALTER PROCEDURE [dbo].[sp_CanhBaoNgayDangKiemKeTiep]
	@IDCongTy int = null,
	@IDNhomTrangThietBi int = null,
	@IDLoaiTrangThietBi int = null,
	@BienSo nvarchar(50) = null,
    @TenXe nvarchar(300) = null,
	@SoNgayPhamViCanhBao int = 30
AS
BEGIN
	SET NOCOUNT ON
	
	CREATE TABLE #tmpTrangThietBi
	(
		[ID] [int] NULL,
		[NgayDangKiemLanDau] [smalldatetime] NULL,
		[SoThangDangKiemDinhKy] [int] NULL,
		NgayDangKiemTiepTheo smalldatetime null,
		SoNgayConLai int null
	)

	Insert into #tmpTrangThietBi
	Select ID, NgayDangKiemLanDau, SoThangDangKiemDinhKy, null as NgayDangKiemTiepTheo, null as SoNgayConLai 
	from tblTrangThietBi
	where NgayDangKiemLanDau is not null and SoThangDangKiemDinhKy is not null

	Select ID, NgayDangKiemLanDau, SoThangDangKiemDinhKy 
	Into #tmp
	from tblTrangThietBi 

	Declare @id int
	Declare @ngayDangKiemTiepTheo smalldatetime
	Declare @soNgayConLaiChoLanDangKiepTiepTheo int
	While exists(Select 1 from #tmp)
	Begin
		Select Top 1 @id = ID from #tmp 
		
		Set @ngayDangKiemTiepTheo = null
		Set @soNgayConLaiChoLanDangKiepTiepTheo = null
		exec sp_CanhBaoNgayDangKiemKeTiepTungXe @id, @ngayDangKiemTiepTheo out, @soNgayConLaiChoLanDangKiepTiepTheo out
		
		update #tmpTrangThietBi set NgayDangKiemTiepTheo = @ngayDangKiemTiepTheo, SoNgayConLai = @soNgayConLaiChoLanDangKiepTiepTheo where ID = @id

		Delete #tmp where ID = @id
	End
	--select * from #tmpTrangThietBi return 

	Select ROW_NUMBER() OVER (ORDER BY a.SoNgayConLai ASC) AS STT,
			a.ID, a.NgayDangKiemLanDau, a.SoThangDangKiemDinhKy, a.NgayDangKiemTiepTheo, a.SoNgayConLai, 
			b.MaTaiSan, b.Ten as TenXe, b.BienSo, b.IDCongTy, b.IDLoaiTrangThietBi,
			c.Ten as LoaiXe, d.TenNhom
	from #tmpTrangThietBi a left join tblTrangThietBi b on a.ID = b.ID
						    left join tblLoaiTrangThietBi c on b.IDLoaiTrangThietBi = c.ID
							left join tblNhomTrangThietBi d on c.IDNhomTrangThietBi = d.ID
	where   a.SoNgayConLai <= @SoNgayPhamViCanhBao And
			(b.IDCongTy = @IDCongTy or @IDCongTy is null or @IDCongTy = 0) And
			(c.ID = @IDLoaiTrangThietBi or @IDLoaiTrangThietBi is null or @IDLoaiTrangThietBi = 0) And 
			(b.Ten like '%' + @TenXe + '%' or @TenXe = '' or @TenXe is null) And 
			(b.BienSo like '%' + @BienSo + '%' or @BienSo = '' or @BienSo is null) And 
			(d.ID = @IDNhomTrangThietBi or @IDNhomTrangThietBi is null)
	order by a.SoNgayConLai

	drop table #tmpTrangThietBi
	drop table #tmp
END

