
GO
CREATE PROCEDURE [dbo].[sp_UpdateNhatKyHoatDong]
(
	@IDTrangThietBi int,
	@NgayHoatDong nvarchar(10),
	@SoGio_SoKm float = null
)
AS
BEGIN
	SET NOCOUNT ON

	Declare @DonViGhiNhanHoatDong varchar(10)

	Select Top 1 @DonViGhiNhanHoatDong = b.DonViGhiNhanHoatDong 
	from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
	where a.ID = @IDTrangThietBi

	If (@DonViGhiNhanHoatDong = 'gio') 
	Begin
		If exists(Select 1 from tblNhatKyHoatDong where NgayHoatDong = @NgayHoatDong And IDTrangThietBi = @IDTrangThietBi)
		Begin
			Update tblNhatKyHoatDong Set SoGio = @SoGio_SoKm where NgayHoatDong = @NgayHoatDong And IDTrangThietBi = @IDTrangThietBi
		End
		Else
		Begin
			If @SoGio_SoKm > 0
			Begin
				Insert into tblNhatKyHoatDong(IDTrangThietBi, NgayHoatDong, SoGio) values(@IDTrangThietBi, @NgayHoatDong, @SoGio_SoKm)
			End
		End
	End
	Else If (@DonViGhiNhanHoatDong = 'km')
	Begin
		If exists(Select 1 from tblNhatKyHoatDong where NgayHoatDong = @NgayHoatDong And IDTrangThietBi = @IDTrangThietBi)
			Update tblNhatKyHoatDong Set SoKm = @SoGio_SoKm where NgayHoatDong = @NgayHoatDong And IDTrangThietBi = @IDTrangThietBi
		Else
		Begin
			If @SoGio_SoKm > 0
				Insert into tblNhatKyHoatDong(IDTrangThietBi, NgayHoatDong, SoKm) values(@IDTrangThietBi, @NgayHoatDong, @SoGio_SoKm)
		End
	End
END

GO
exec sp_UpdateNhatKyHoatDong 1026, '20190306', null