

/*
	+ Tính ngày bảo dưỡng tiếp theo
	+ Số ngày tới hạn bão dưỡng tiếp theo
	+ Tần suất được tính từ định mức thực tế theo Từ ngày -- đến ngày
*/
CREATE PROCEDURE [dbo].[sp_CanhBaoBaoDuongTheoKmTungXe_ThucTe]
	@ID int,
	@tanSuatHoatDong float,
	@ngayBaoDuongTiepTheo smalldatetime out,
	@soNgayConLaiChoLanBaoDuongTiepTheo int out
AS
BEGIN
	SET NOCOUNT ON
	
	-- Ngày hiện tại
	Declare @ngayHienTai smalldatetime
	Set @ngayHienTai = getdate() 

	-- Ngày bắt đầu tính bảo dưỡng
	Declare @ngayBatDauTinhBaoDuong smalldatetime
	
	-- Số km bảo dưỡng định kỳ
	Declare @soKmBaoDuongDinhKy float
	Declare @soKmBatDauTinhBaoDuong float		
	
	Select  Top 1 @soKmBaoDuongDinhKy = c.SoLuongBaoDuongDinhKy, @ngayBatDauTinhBaoDuong = a.NgayBaoDuongGanNhat, 
			@soKmBatDauTinhBaoDuong = a.SoKmBaoDuongGanNhat
	from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
							left join tblLoaiBaoDuong c on b.IDLoaiBaoDuong = c.IDLoaiBaoDuong
	where a.ID = @ID

	If (@soKmBaoDuongDinhKy is not null and @ngayBatDauTinhBaoDuong is not null and @tanSuatHoatDong > 0)
	Begin
		--Tính số km bảo dưỡng tiếp theo
		Declare @soKmBaoDuongTiepTheo float
		Set @soKmBaoDuongTiepTheo = 0
		Declare @i int
		Set @i = 1
		While @soKmBaoDuongTiepTheo <= @soKmBatDauTinhBaoDuong
		Begin
			Set @soKmBaoDuongTiepTheo = @soKmBaoDuongDinhKy * @i
			Set @i = @i + 1
		End

		Set @ngayBaoDuongTiepTheo = @ngayBatDauTinhBaoDuong

		While @soKmBatDauTinhBaoDuong <  @soKmBaoDuongTiepTheo
		Begin
			Set @soKmBatDauTinhBaoDuong = @soKmBatDauTinhBaoDuong + @TanSuatHoatDong
			Set @ngayBaoDuongTiepTheo = DATEADD(dd, 1, @ngayBaoDuongTiepTheo) 
		End
		Set @soNgayConLaiChoLanBaoDuongTiepTheo = DATEDIFF(dd, @ngayHienTai, DATEADD(dd, -1, @ngayBaoDuongTiepTheo)) 
	End
END

