
GO
ALTER PROCEDURE [dbo].[sp_BaoCaoDuKienBaoDuongCacXe]
(
	@IDCongTy int = null,
	@IDNhomTrangThietBi int = null,
	@IDLoaiTrangThietBi int = null,
	@BienSo nvarchar(50) = null,
	@SoNgayPhamViCanhBao int = 30,
	@DinhMucTuNgay smalldatetime,
	@DinhMucDenNgay smalldatetime,
	@BaoDuongTuNgay smalldatetime,
	@BaoDuongDenNgay smalldatetime
)
AS
BEGIN
	SET NOCOUNT ON

	--Set @DinhMucTuNgay =  '20190306'
	--Set @DinhMucDenNgay =  '20190317'
	--Set @BaoDuongTuNgay =  '20190401'
	--Set @BaoDuongDenNgay =  '20190430'

	-- Lọc danh sách TTB
	Select c.TenVietTat as TenCongTy, a.ID as IDTrangThietBi, a.BienSo, a.Ten as TenXe, f.TenNhom,
			d.Ten as LoaiBaoDuong, d.SoLuongBaoDuongDinhKy,
			b.Ten as LoaiTrangThietBi, a.NgayBaoDuongGanNhat, a.SoGioBaoDuongGanNhat, a.SoKmBaoDuongGanNhat, 
			e.Ma as MaKieuBaoDuong,
			(Select Top 1 SoLuongTanSuat From tblTanSuatHoatDong Where IDTrangThietBi = a.ID Order By NgayBatDauApDung Desc) as TanSuatHoatDong
	Into #tmp
	from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
						   left join tblCongTy c on a.IDCongTy = c.ID
						   left join tblLoaiBaoDuong d on b.IDLoaiBaoDuong = d.IDLoaiBaoDuong
						   left join tblKieuBaoDuong e on d.IDKieuBaoDuong = e.ID
						   left join tblNhomTrangThietBi f on b.IDNhomTrangThietBi = f.ID
	Where (a.IDCongTy = @IDCongTy or @IDCongTy is null or @IDCongTy = 0) And 
			(b.ID = @IDLoaiTrangThietBi or @IDLoaiTrangThietBi is null or @IDLoaiTrangThietBi = 0) And
			(a.BienSo like '%' + @BienSo + '%' or @BienSo is null or @BienSo = '') 
			--And e.Ma like 'thang' and 
			And (b.IDNhomTrangThietBi = @IDNhomTrangThietBi or @IDNhomTrangThietBi is null or @IDNhomTrangThietBi = 0)
	Order by c.TenVietTat, b.SoThuTuHienThi
	
	CREATE TABLE #tmpResult (
		IDTrangThietBi int null,
		NhomXe nvarchar(300) null,
		LoaiTrangThietBi nvarchar(300) null,
		TenCongTy nvarchar(100),
		BienSo nvarchar(50) null,
		TenXe nvarchar(300) null,
		MaKieuBaoDuong nvarchar(10) null,
		LoaiBaoDuong nvarchar(200) null,
		NgayBaoDuongGanNhat smalldatetime null,
		SoKmDaChay float null,
		SoGioDaChay float null,
		TanSuatHoatDong float null,
		NgayBaoDuongTiepTheo smalldatetime null,
		SoNgayConLaiChoLanBaoDuongTiepTheo int null,
		MocBaoDuongTiepTheo float null
	);

	Insert into #tmpResult(IDTrangThietBi, NhomXe, LoaiTrangThietBi, TenCongTy, BienSo, TenXe, MaKieuBaoDuong,
			LoaiBaoDuong, NgayBaoDuongGanNhat, SoKmDaChay, SoGioDaChay, TanSuatHoatDong) 
	Select IDTrangThietBi, TenNhom, LoaiTrangThietBi, TenCongTy, BienSo, TenXe, MaKieuBaoDuong,
			LoaiBaoDuong, NgayBaoDuongGanNhat, SoKmBaoDuongGanNhat, SoGioBaoDuongGanNhat, TanSuatHoatDong
	From #tmp
	
	-- Duyệt qua từng TTB
	Declare @pr_IdTrangThietBi int
	Declare @pr_MaKieuBaoDuong varchar(20)
	declare @pr_NgayBaoDuongTiepTheo smalldatetime
	declare @pr_SoNgayConLaiChoLanBaoDuongTiepTheo int
	declare @pr_soGioMocBaoDuongTiepTheo float 
	declare @tanSuatHoatDong float
	While exists(Select 1 from #tmp) 
	Begin
		Select Top 1 @pr_IdTrangThietBi = IDTrangThietBi, @pr_MaKieuBaoDuong = MaKieuBaoDuong From #tmp 
		
		Set @pr_NgayBaoDuongTiepTheo = null
		Set @pr_SoNgayConLaiChoLanBaoDuongTiepTheo = null
		Set @pr_soGioMocBaoDuongTiepTheo = null
		Set @tanSuatHoatDong = 0
	
		-- Tính tần suất thực tế
		SELECT @tanSuatHoatDong = Round((Sum(DinhMuc)/Count(1)), 2)
		FROM tblDinhMucTheoNgay 
		where IDTrangThietBi = @pr_IdTrangThietBi and Ngay >= @DinhMucTuNgay and Ngay <= @DinhMucDenNgay And DinhMuc >= 0
		group by IDTrangThietBi

		If (@pr_MaKieuBaoDuong = 'thang')
		Begin
			exec sp_CanhBaoBaoDuongTheoThangTungXe @pr_IdTrangThietBi, @pr_NgayBaoDuongTiepTheo out, @pr_SoNgayConLaiChoLanBaoDuongTiepTheo out
		End
		Else If (@pr_MaKieuBaoDuong = 'km')
		Begin
			exec sp_CanhBaoBaoDuongTheoKmTungXe_ThucTe @pr_IdTrangThietBi, @tanSuatHoatDong, @pr_NgayBaoDuongTiepTheo out, @pr_SoNgayConLaiChoLanBaoDuongTiepTheo out
		End
		Else If (@pr_MaKieuBaoDuong = 'gio')
		Begin	
			exec sp_CanhBaoBaoDuongTheoGioTungXe_ThucTe @pr_IdTrangThietBi, @tanSuatHoatDong, @pr_NgayBaoDuongTiepTheo out, @pr_SoNgayConLaiChoLanBaoDuongTiepTheo out, @pr_soGioMocBaoDuongTiepTheo out
		End

		Update #tmpResult 
		Set NgayBaoDuongTiepTheo = @pr_ngayBaoDuongTiepTheo, SoNgayConLaiChoLanBaoDuongTiepTheo = @pr_soNgayConLaiChoLanBaoDuongTiepTheo,
			MocBaoDuongTiepTheo = @pr_soGioMocBaoDuongTiepTheo, TanSuatHoatDong = @tanSuatHoatDong
		Where IDTrangThietBi = @pr_IdTrangThietBi

		Delete #tmp where IDTrangThietBi = @pr_IdTrangThietBi
	End

	Select ROW_NUMBER() OVER (ORDER BY SoNgayConLaiChoLanBaoDuongTiepTheo ASC, MaKieuBaoDuong ASC) AS STT,
			IDTrangThietBi, NhomXe, LoaiTrangThietBi, TenXe, BienSo, MaKieuBaoDuong, LoaiBaoDuong, NgayBaoDuongGanNhat, 
			(case when MaKieuBaoDuong = 'km' then SoKmDaChay when MaKieuBaoDuong = 'gio' then SoGioDaChay End)  as SoKmGioDaChay,
			TanSuatHoatDong, NgayBaoDuongTiepTheo, MocBaoDuongTiepTheo, SoNgayConLaiChoLanBaoDuongTiepTheo
	From #tmpResult
	Where SoNgayConLaiChoLanBaoDuongTiepTheo is not null 
		And NgayBaoDuongTiepTheo >= @BaoDuongTuNgay
		And NgayBaoDuongTiepTheo <= @BaoDuongDenNgay
	--Order by SoNgayConLaiChoLanBaoDuongTiepTheo, MaKieuBaoDuong

	Drop table #tmp
	Drop table #tmpResult
END

/*
GO
exec sp_BaoCaoDuKienBaoDuongCacXe @IDCongTy=1,@BienSo=N'',@SoNgayPhamViCanhBao=30, 
@DinhMucTuNgay = '20190306', @DinhMucDenNgay = '20190317',
@BaoDuongTuNgay = '20190101', @BaoDuongDenNgay = '20191230'
*/