
GO
/*
	+ Duyệt qua các TTB
	+ Tính số km/số giờ đi được trong một ngày
*/
CREATE PROCEDURE sp_TinhTanSuatHoatDongThucTe
(
	@TuNgay smalldatetime,
	@DenNgay smalldatetime 
)
AS
Begin
	
	Select a.ID as IDTrangThietBi, e.Ma as MaKieuBaoDuong
	Into #tmp
	from tblTrangThietBi a left join tblLoaiTrangThietBi b on a.IDLoaiTrangThietBi = b.ID
						   left join tblLoaiBaoDuong d on b.IDLoaiBaoDuong = d.IDLoaiBaoDuong
						   left join tblKieuBaoDuong e on d.IDKieuBaoDuong = e.ID

	Declare @IDTrangThietBi int
	Declare @beginDate smalldatetime
	While exists(Select 1 from #tmp) 
	Begin
		Select Top 1 @IDTrangThietBi = IDTrangThietBi From #tmp 

		Set @beginDate = @TuNgay
		While @beginDate <= @DenNgay
		Begin
			Exec sp_TinhTanSuatHoatDongThucTeTungNgay @IDTrangThietBi, @beginDate
			Set @beginDate = DateAdd(day, 1, @beginDate)
		End

		Delete #tmp where IDTrangThietBi = @IDTrangThietBi
	End
End

GO
-- Exec sp_TinhTanSuatHoatDongThucTe '20190101', '20190411'