
/*
	+ Lấy dữ liệu từ service của pm SkySoft
*/
CREATE PROCEDURE sp_SkySoft_GetData(
	@IDTrangThietBi int,
	@BienSo nvarchar(50),
	@NgayHoatDong date,
	@SoPhut float = null,
	@SoKm float = null
)
AS
BEGIN
	
	If not exists(Select 1 from tblSkySoft where IdTrangThietBi = @IDTrangThietBi And NgayHoatDong = @NgayHoatDong)
	Begin
		Insert into tblSkySoft(IdTrangThietBi, BienSo, NgayHoatDong, SoPhut, SoKm, UpdateDate) 
		values(@IDTrangThietBi, @BienSo, @NgayHoatDong, @SoPhut, @SoKm, GETDATE())
	End
	Else
	Begin
		Update tblSkySoft
		Set SoPhut = @SoPhut, SoKm = @SoKm, UpdateDate = GETDATE()
		Where IdTrangThietBi = @IDTrangThietBi And NgayHoatDong = @NgayHoatDong
	End

END

/*
public static void InsertDataFromSkySoft(int idTrangThietBi, string bienSo, DateTime ngayHoatDong, double soPhut, double soKm)
        {
            string connectionString = @"Data Source = XOMACHI\SQLSERVER2014; database = EMM; uid = sa; pwd = sqlserver2014";
            using (SqlConnection cnn = new SqlConnection(connectionString))
            {
                SqlCommand cmd = new SqlCommand("sp_SkySoft_GetData", cnn);
                cmd.CommandType = CommandType.StoredProcedure;

                cmd.Parameters.AddWithValue("@IDTrangThietBi", idTrangThietBi);
                cmd.Parameters.AddWithValue("@BienSo", bienSo);
                cmd.Parameters.AddWithValue("@NgayHoatDong", ngayHoatDong);
                cmd.Parameters.AddWithValue("@SoPhut", soPhut);
                cmd.Parameters.AddWithValue("@SoKm", soKm);

                cnn.Open();
                cmd.ExecuteNonQuery();
                cnn.Close();
            }
        }
*/