
/*
delete tblNhomTrangThietBi

select * from tblNhomTrangThietBi

select * from tblLoaiTrangThietBi

select * from tblLoaiBaoDuong

select * from tblCapBaoDuong

select * from tblHangMucLoaiTrangThietBi
select * from tblCapBaoDuongCongViec

exec sp_LayHangMucBaoDuongTheoLoaiTrangThietBi 11

*/

-- Danh mục nhóm trang thiết bị
insert into tblNhomTrangThietBi values(N'Xe đầu kéo JST', '')
insert into tblNhomTrangThietBi values(N'Xe đầu kéo Toyota', '')
insert into tblNhomTrangThietBi values(N'Xe nâng hàng 3.5 Tấn TXL737', '')
