
/*
delete tblNhomTrangThietBi

select * from tblNhomTrangThietBi
select * from tblLoaiTrangThietBi
*/

-- Danh mục nhóm trang thiết bị
insert into tblNhomTrangThietBi values(N'Xe đầu kéo JST', '')
insert into tblNhomTrangThietBi values(N'Xe đầu kéo Toyota', '')
insert into tblNhomTrangThietBi values(N'Xe nâng hàng 3.5 Tấn TXL737', '')
