

ALTER TRIGGER [dbo].[tg_tblNhatKyHoatDong_AfterInsert] ON [dbo].[tblNhatKyHoatDong] AFTER INSERT 
AS
BEGIN
	DECLARE @IDTrangThietBi INT, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = ins.IDTrangThietBi FROM INSERTED ins;
	SELECT @Ngay = ins.NgayHoatDong FROM INSERTED ins;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    exec sp_TinhDinhMucTheoNgay @NgayTruoc, @IDTrangThietBi

	exec sp_TinhDinhMucTheoNgay @Ngay, @IDTrangThietBi
END

GO

ALTER TRIGGER [dbo].[tg_tblNhatKyHoatDong_AfterUpdate] ON [dbo].[tblNhatKyHoatDong] AFTER UPDATE
AS
BEGIN
	DECLARE @IDTrangThietBi INT, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = ins.IDTrangThietBi FROM INSERTED ins;
	SELECT @Ngay = ins.NgayHoatDong FROM INSERTED ins;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    exec sp_TinhDinhMucTheoNgay @NgayTruoc, @IDTrangThietBi

	exec sp_TinhDinhMucTheoNgay @Ngay, @IDTrangThietBi
END

GO
ALTER TRIGGER [dbo].[tg_tblNhatKyHoatDong_AfterDelete] ON [dbo].[tblNhatKyHoatDong] AFTER DELETE 
AS
BEGIN
	Declare @IDTrangThietBi int, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = del.IDTrangThietBi FROM DELETED del;
	SELECT @Ngay = del.NgayHoatDong FROM DELETED del;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    Delete tblDinhMucTheoNgay where IDTrangThietBi = @IDTrangThietBi And (Ngay = @Ngay or Ngay = @NgayTruoc)
END


GO
ALTER TRIGGER [dbo].[tg_tblNapNhienLieu_AfterInsert] ON [dbo].[tblNapNhienLieu] AFTER INSERT 
AS
BEGIN
	DECLARE @IDTrangThietBi INT, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = ins.IDTrangThietBi FROM INSERTED ins;
	SELECT @Ngay = ins.NgayNap FROM INSERTED ins;
	
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)
    exec sp_TinhDinhMucTheoNgay @NgayTruoc, @IDTrangThietBi

	exec sp_TinhDinhMucTheoNgay @Ngay, @IDTrangThietBi
END

GO
ALTER TRIGGER [dbo].[tg_tblNapNhienLieu_AfterUpdate] ON [dbo].[tblNapNhienLieu] AFTER UPDATE 
AS
BEGIN
	DECLARE @IDTrangThietBi INT, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = ins.IDTrangThietBi FROM INSERTED ins;
	SELECT @Ngay = ins.NgayNap FROM INSERTED ins;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    exec sp_TinhDinhMucTheoNgay @NgayTruoc, @IDTrangThietBi

	exec sp_TinhDinhMucTheoNgay @Ngay, @IDTrangThietBi
END


GO
ALTER TRIGGER [dbo].[tg_tblNapNhienLieu_AfterDelete] ON [dbo].[tblNapNhienLieu] AFTER DELETE 
AS
BEGIN
	Declare @IDTrangThietBi int, @Ngay smalldatetime, @NgayTruoc smalldatetime

	SELECT @IDTrangThietBi = del.IDTrangThietBi FROM DELETED del;
	SELECT @Ngay = del.NgayNap FROM DELETED del;
	SET @NgayTruoc = DateAdd(day, -1, @Ngay)

    Delete tblDinhMucTheoNgay where IDTrangThietBi = @IDTrangThietBi And (Ngay = @Ngay or Ngay = @NgayTruoc)
END




