<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EMMEntities" connectionString="metadata=res://*/EMMS.csdl|res://*/EMMS.ssdl|res://*/EMMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XOMACHI\SQLSERVER2014;initial catalog=EMM;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
